n8n/hindsight_workflow.json
{
  "name": "HINDSIGHT \u2014 Cyber Incident Intelligence",
  "nodes": [
    {
      "parameters": {
        "triggerOn": "folder",
        "path": "/data/incoming_docs",
        "events": [
          "add"
        ],
        "options": {
          "usePolling": true,
          "ignored": "**/.*"
        }
      },
      "id": "e8503236-533c-4a26-a929-9b522352391c",
      "name": "\ud83d\udcc2 New postmortem",
      "type": "n8n-nodes-base.localFileTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "command": "=python3 /data/extractors/extract_document.py \"{{ $json.path }}\" --image-dir /data/tmp_images"
      },
      "id": "4559ab2a-d986-47a9-a7ac-782490486e84",
      "name": "\ud83d\udddc Extract text + images",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// stdout of the extractor is a single JSON object\nconst raw = $input.first().json.stdout;\nlet doc;\ntry { doc = JSON.parse(raw); }\ncatch (e) { throw new Error('Extractor did not return JSON: ' + raw?.slice(0,200)); }\nif (!doc.ok) { throw new Error('Extraction failed for ' + doc.filename); }\n// correlation id ties logs across Gemini + enrichment + sheets\nconst corr = 'hs-' + Date.now().toString(36) + '-' + Math.random().toString(36).slice(2,7);\nreturn [{ json: { ...doc, correlation_id: corr,\n  has_images: Array.isArray(doc.images) && doc.images.length > 0 } }];"
      },
      "id": "397e6442-ce92-46ab-aa5a-735430ea994a",
      "name": "Parse extraction",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "557168ad-82fd-4a4e-b48c-615dc124c2dc",
              "leftValue": "={{ $json.has_images }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "11c4763f-8e56-4907-ac6f-9f4b477cf0ba",
      "name": "Has dashboard image?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        980,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3-flash:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-goog-api-key",
              "value": "={{ $credentials.geminiApi.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{ \"parts\": [\n    { \"text\": \"Read this SIEM or vulnerability-scan chart screenshot. Return ONLY JSON: {image_kind, metric_name, unit, anomaly_observed, approx_peak_value, approx_baseline_value, time_window, one_line_summary}.\" },\n    { \"inline_data\": { \"mime_type\": \"image/png\", \"data\": \"{{ $binary.data0 ? $binary.data0.toString('base64') : '' }}\" } }\n  ]}],\n  \"generationConfig\": { \"temperature\": 0.2, \"responseMimeType\": \"application/json\" }\n}",
        "options": {}
      },
      "id": "d20d871a-0571-43f8-b7e5-01fbae899b02",
      "name": "\ud83d\udc41 Gemini Vision \u2014 read chart",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1240,
        170
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_GEMINI",
          "name": "Gemini API"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Fold any vision JSON into the extraction item as vision_notes.\nconst items = $input.all();\nconst base = items.find(i => i.json.extracted_text) || items[0];\nlet visionNotes = '';\nconst v = items.find(i => i.json.candidates || i.json.metric_name);\nif (v) {\n  try {\n    const t = v.json.candidates?.[0]?.content?.parts?.[0]?.text || JSON.stringify(v.json);\n    visionNotes = typeof t === 'string' ? t : JSON.stringify(t);\n  } catch (e) { visionNotes = ''; }\n}\nreturn [{ json: { ...base.json, vision_notes: visionNotes } }];"
      },
      "id": "f2b12196-9c34-4062-9504-755abe53f01e",
      "name": "Attach vision notes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const j = $input.first().json;\nconst prompt = `You are HINDSIGHT, a cybersecurity incident-log analyst. Read the SIEM export, vuln scan, or phishing report and return ONLY a valid JSON object matching this schema exactly:\\n{incident_title, summary, severity (SEV1|SEV2|SEV3|SEV4), incident_type (security|data-incident|vulnerability-scan|malware|phishing|intrusion|ddos|other), status, affected_services[], affected_jurisdictions[], root_cause, trigger, detection_method, entities:{people[],teams[],systems[],dates[],error_codes[]}, action_items:[{action,owner,priority}], contributing_factors[], sentiment, blameless_quality, cvss_score, cve_ids[], confidence_score, metrics:{detected_at,resolved_at,ttd_minutes,ttr_minutes,customer_impact}}\\nFor vuln scans set cvss_score and cve_ids verbatim. When unsure of severity pick the LOWER one.\\n\\nVISION NOTES (from embedded SIEM/scan charts):\\n${j.vision_notes || 'none'}\\n\\nDOCUMENT:\\n${j.extracted_text}`;\nreturn [{ json: { ...j, prompt } }];"
      },
      "id": "79f4b4dc-3d92-4224-98f5-2c433bdcaf26",
      "name": "Build extraction prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3-flash:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-goog-api-key",
              "value": "={{ $credentials.geminiApi.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{ \"parts\": [{ \"text\": {{ JSON.stringify($json.prompt) }} }] }],\n  \"generationConfig\": { \"temperature\": 0.2, \"responseMimeType\": \"application/json\" }\n}",
        "options": {}
      },
      "id": "e008c7ec-e2a4-4ca9-8ec7-e8bb1a34ab62",
      "name": "\ud83e\udde0 Gemini \u2014 extract incident",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2020,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_GEMINI",
          "name": "Gemini API"
        }
      },
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "jsCode": "const FENCE = String.fromCharCode(96, 96, 96);\nconst REQUIRED = ['summary', 'sentiment', 'action_items', 'confidence_score'];\nfunction validateGeminiShape(g) {\n  const missing = [];\n  for (let i = 0; i < REQUIRED.length; i++) {\n    if (g[REQUIRED[i]] === undefined) missing.push(REQUIRED[i]);\n  }\n  if (!g.incident_type && !g.classification) missing.push('incident_type|classification');\n  if (!Array.isArray(g.action_items)) missing.push('action_items(array)');\n  if (missing.length) throw new Error('Gemini JSON missing required fields: ' + missing.join(', '));\n}\nconst prev = $('Build extraction prompt').first().json;\nconst resp = $input.first().json;\nlet txt = resp.candidates?.[0]?.content?.parts?.[0]?.text;\nif (!txt) throw new Error('Gemini returned no text');\ntxt = String(txt).trim();\nif (txt.indexOf(FENCE) !== -1) {\n  txt = txt.split(FENCE).join('');\n  if (txt.toLowerCase().indexOf('json') === 0) txt = txt.slice(4);\n  txt = txt.trim();\n}\nlet g; try { g = JSON.parse(txt); } catch(e){ throw new Error('Bad JSON from Gemini: '+txt.slice(0,200)); }\nvalidateGeminiShape(g);\ng.filename = prev.filename;\ng.correlation_id = prev.correlation_id;\nreturn [{ json: g }];"
      },
      "id": "b2ac0150-0d57-480f-b234-73d894fd915f",
      "name": "Parse Gemini JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2280,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://enrichment-api:8000/enrich",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "961646e2-a48e-4dac-b0cb-a137c62e13f0",
      "name": "\u2699\ufe0f Enrich (FastAPI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2540,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1500
    },
    {
      "parameters": {
        "jsCode": "function esc(s){return String(s==null?'':s).replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;');}\nfunction actionsCsv(a){if(!a||!a.length)return'';return a.map(x=>{const o=(x&&x.owner&&String(x.owner).trim())?String(x.owner):'UNOWNED';const p=(x&&x.priority)?String(x.priority):'-';return p+': '+String(x.action||'')+' ('+o+')';}).join('; ');}\nfunction fileType(n){const m=String(n||'').match(/\\.([^.]+)$/);return m?m[1].toLowerCase():'txt';}\nconst g=$('Parse Gemini JSON').first().json;\nconst e=$input.first().json;\nconst classification=String(e.incident_type||g.incident_type||'other');\nconst filename=String(e.source_filename||g.filename||g.source_filename||'unknown');\nconst sentiment=String(g.sentiment||'neutral');\nconst routingTag=String(e.routing_tag||'auto-approved');\nconst summary=String(g.summary||'').slice(0,500);\nconst actionItems=actionsCsv(g.action_items||[]);\nconst row={document_id:e.document_id,filename:filename,file_type:fileType(filename),processed_at:e.processed_at,classification:classification,department:e.department,sentiment:sentiment,confidence_score:e.confidence_score,summary:summary,routing_tag:routingTag,sensitivity:e.sensitivity,action_items:actionItems,cvss_score:e.cvss_score,cve_ids:(e.cve_ids||[]).join(', ')};\nconst emailHtml='<h2>Document Processed</h2><p><b>File:</b> '+esc(filename)+'</p>+'<p><b>Classification:</b> '+esc(classification)+'</p><p><b>Sentiment:</b> '+esc(sentiment)+'</p>+'<p><b>Department:</b> '+esc(e.department)+'</p><p><b>Sensitivity:</b> '+esc(e.sensitivity)+'</p>+'<p><b>Routing tag:</b> '+esc(routingTag)+'</p><h3>Summary</h3><p>'+esc(summary)+'</p>+'<h3>Action items</h3><p>'+esc(actionItems||'(none)')+'</p>';const subjDigest='['+classification+'] New document processed: '+filename;\nconst subjSev1='[CONFIDENTIAL ESCALATE] '+filename+' - '+e.department;\nconst isSev1=e.computed_severity==='SEV1';\nreturn [{json:{row,markdown:'# '+e.computed_severity+' - '+classification,is_sev1:isSev1,e,g,emailSubjectDigest:subjDigest,emailHtmlDigest:emailHtml,emailSubjectSev1:subjSev1,emailHtmlSev1:emailHtml,out_path:`/data/output_docs/${e.document_id}.md`}}];"
      },
      "id": "8cdca8cc-ea7a-40f5-991a-052b4cdd2b64",
      "name": "Compose record + outputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: $input.first().json.row }];"
      },
      "id": "43a07a34-33fe-4a14-a19a-a915aa9d0999",
      "name": "Flatten row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2930,
        450
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "REPLACE_WITH_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Incidents"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": []
        },
        "options": {}
      },
      "id": "3e959507-f2dc-4032-9647-a5b9c6778a95",
      "name": "\ud83d\udcca Append to registry",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        3060,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_SHEETS",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const j = $('Compose record + outputs').first().json;\nconst buff = Buffer.from(j.markdown, 'utf8');\nreturn [{ json: { out_path: j.out_path },\n  binary: { data: { data: buff.toString('base64'),\n    mimeType: 'text/markdown', fileName: j.document_id + '.md' } } }];"
      },
      "id": "f30ee1d2-a754-48b0-84d4-746132ae30b6",
      "name": "Markdown \u2192 file",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2930,
        630
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $('Compose record + outputs').first().json.out_path }}",
        "dataPropertyName": "data",
        "options": {}
      },
      "id": "60ba7b01-033a-4b76-9254-223359e184ac",
      "name": "\ud83d\udcbe Write output doc",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        3060,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "7a831f15-864e-4a11-98b2-14ef6ba2de5b",
              "leftValue": "={{ $json.is_sev1 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3c577768-db13-48ea-bbea-cc01340a5791",
      "name": "SEV1?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3320,
        300
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "sendTo": "=reem.mor3@gmail.com",
        "subject": "={{ $('Compose record + outputs').first().json.emailSubjectSev1 }}",
        "emailType": "html",
        "message": "={{ $('Compose record + outputs').first().json.emailHtmlSev1 }}",
        "options": {
          "priority": "high"
        }
      },
      "id": "f4356a90-70e4-45eb-b8ed-7daab457906a",
      "name": "\ud83d\udea8 Page on-call (SEV1)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        3580,
        190
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_GMAIL",
          "name": "Gmail"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "sendTo": "=reem.mor3@gmail.com",
        "subject": "={{ $('Compose record + outputs').first().json.emailSubjectDigest }}",
        "emailType": "html",
        "message": "={{ $('Compose record + outputs').first().json.emailHtmlDigest }}",
        "options": {}
      },
      "id": "e2c36c47-9a13-4a98-aa12-8ceee42e7572",
      "name": "\ud83d\udce7 Send digest",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        3580,
        410
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_GMAIL",
          "name": "Gmail"
        }
      }
    },
    {
      "parameters": {
        "content": "## HINDSIGHT \u2014 cyber incident log pipeline\nDrop a SIEM export, vuln scan, or phishing report (.pdf/.md) into **/data/incoming_docs**.\nGemini extracts \u2192 FastAPI re-scores severity & routes \u2192 Sheets + Gmail.",
        "height": 180,
        "width": 540,
        "color": 4
      },
      "id": "bd009f4f-4504-4430-8078-70893fc0ec7a",
      "name": "Note da356a",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        180,
        70
      ]
    },
    {
      "parameters": {
        "content": "### Multimodal branch\nIf the doc embeds a Grafana/dashboard image, Gemini Vision reads the chart and the notes are folded into the main extraction. `onError: continue` so a vision miss never blocks the pipeline.",
        "height": 150,
        "width": 300,
        "color": 5
      },
      "id": "6444b03e-6e84-49a0-8ba5-543cb95a36e3",
      "name": "Note b0e906",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1220,
        -60
      ]
    },
    {
      "parameters": {
        "content": "### Severity is computed, not trusted\nThe FastAPI service re-scores severity from a rubric (service tier \u00d7 jurisdiction breadth \u00d7 impact language). SEV1 \u2192 immediate page.",
        "height": 130,
        "width": 320,
        "color": 3
      },
      "id": "64a46529-5c93-4323-9fe9-63263e8c9f31",
      "name": "Note 245e3d",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2520,
        100
      ]
    },
    {
      "parameters": {
        "content": "### Retry / rate-limit handling\nGemini nodes: retryOnFail, 5 tries, 3s backoff \u2014 survives 429s. Enrichment: 3 tries.",
        "height": 120,
        "width": 280,
        "color": 6
      },
      "id": "7767bf1d-7879-4e53-b9ce-b328247ba8cb",
      "name": "Note 7a3e80",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2000,
        500
      ]
    }
  ],
  "connections": {
    "\ud83d\udcc2 New postmortem": {
      "main": [
        [
          {
            "node": "\ud83d\udddc Extract text + images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\udddc Extract text + images": {
      "main": [
        [
          {
            "node": "Parse extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse extraction": {
      "main": [
        [
          {
            "node": "Has dashboard image?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has dashboard image?": {
      "main": [
        [
          {
            "node": "\ud83d\udc41 Gemini Vision \u2014 read chart",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Attach vision notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\udc41 Gemini Vision \u2014 read chart": {
      "main": [
        [
          {
            "node": "Attach vision notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach vision notes": {
      "main": [
        [
          {
            "node": "Build extraction prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build extraction prompt": {
      "main": [
        [
          {
            "node": "\ud83e\udde0 Gemini \u2014 extract incident",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83e\udde0 Gemini \u2014 extract incident": {
      "main": [
        [
          {
            "node": "Parse Gemini JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Gemini JSON": {
      "main": [
        [
          {
            "node": "\u2699\ufe0f Enrich (FastAPI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u2699\ufe0f Enrich (FastAPI)": {
      "main": [
        [
          {
            "node": "Compose record + outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compose record + outputs": {
      "main": [
        [
          {
            "node": "Flatten row",
            "type": "main",
            "index": 0
          },
          {
            "node": "Markdown \u2192 file",
            "type": "main",
            "index": 0
          },
          {
            "node": "SEV1?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten row": {
      "main": [
        [
          {
            "node": "\ud83d\udcca Append to registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown \u2192 file": {
      "main": [
        [
          {
            "node": "\ud83d\udcbe Write output doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEV1?": {
      "main": [
        [
          {
            "node": "\ud83d\udea8 Page on-call (SEV1)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "\ud83d\udce7 Send digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    {
      "name": "hindsight"
    },
    {
      "name": "sre"
    }
  ],
  "meta": {
    "templateid": "hindsight-postmortem-intelligence"
  }
}