n8n/hindsight_workflow.json
{
  "name": "HINDSIGHT \u2014 Cyber Incident Intelligence",
  "nodes": [
    {
      "parameters": {
        "triggerOn": "folder",
        "path": "/data/incoming_docs",
        "events": [
          "add"
        ],
        "options": {
          "usePolling": true,
          "ignored": "**/.*"
        }
      },
      "id": "ac3dbfed-5920-47d7-972f-14169b36b86d",
      "name": "\ud83d\udcc2 New postmortem",
      "type": "n8n-nodes-base.localFileTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "command": "=python3 /data/extractors/extract_document.py \"{{ $json.path }}\" --image-dir /data/tmp_images"
      },
      "id": "5b6d5f9c-af0f-44c2-ad1b-80fc7b63d942",
      "name": "\ud83d\udddc Extract text + images",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// stdout of the extractor is a single JSON object\nconst raw = $input.first().json.stdout;\nlet doc;\ntry { doc = JSON.parse(raw); }\ncatch (e) { throw new Error('Extractor did not return JSON: ' + raw?.slice(0,200)); }\nif (!doc.ok) { throw new Error('Extraction failed for ' + doc.filename); }\n// correlation id ties logs across Gemini + enrichment + sheets\nconst corr = 'hs-' + Date.now().toString(36) + '-' + Math.random().toString(36).slice(2,7);\nreturn [{ json: { ...doc, correlation_id: corr,\n  has_images: Array.isArray(doc.images) && doc.images.length > 0 } }];"
      },
      "id": "e7115ffa-5b5e-4107-b121-d2dca67406d9",
      "name": "Parse extraction",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "e0f2ac99-651f-424b-86dc-51521453fc3e",
              "leftValue": "={{ $json.has_images }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "174bde6e-a1ce-4720-9452-2a9b3e10cb86",
      "name": "Has dashboard image?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        980,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3-flash:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-goog-api-key",
              "value": "={{ $credentials.geminiApi.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{ \"parts\": [\n    { \"text\": \"Read this SIEM or vulnerability-scan chart screenshot. Return ONLY JSON: {image_kind, metric_name, unit, anomaly_observed, approx_peak_value, approx_baseline_value, time_window, one_line_summary}.\" },\n    { \"inline_data\": { \"mime_type\": \"image/png\", \"data\": \"{{ $binary.data0 ? $binary.data0.toString('base64') : '' }}\" } }\n  ]}],\n  \"generationConfig\": { \"temperature\": 0.1, \"responseMimeType\": \"application/json\" }\n}",
        "options": {}
      },
      "id": "e56a3e16-c6b6-4b45-b820-9d182b8aa09e",
      "name": "\ud83d\udc41 Gemini Vision \u2014 read chart",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1240,
        170
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_GEMINI",
          "name": "Gemini API"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Fold any vision JSON into the extraction item as vision_notes.\nconst items = $input.all();\nconst base = items.find(i => i.json.extracted_text) || items[0];\nlet visionNotes = '';\nconst v = items.find(i => i.json.candidates || i.json.metric_name);\nif (v) {\n  try {\n    const t = v.json.candidates?.[0]?.content?.parts?.[0]?.text || JSON.stringify(v.json);\n    visionNotes = typeof t === 'string' ? t : JSON.stringify(t);\n  } catch (e) { visionNotes = ''; }\n}\nreturn [{ json: { ...base.json, vision_notes: visionNotes } }];"
      },
      "id": "c7ce8f7e-03ac-4d0a-9b6d-9ff32b139f78",
      "name": "Attach vision notes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const j = $input.first().json;\nconst prompt = `You are HINDSIGHT, a cybersecurity incident-log analyst. Read the SIEM export, vuln scan, or phishing report and return ONLY a valid JSON object matching this schema exactly:\\n{incident_title, summary, severity (SEV1|SEV2|SEV3|SEV4), incident_type (security|data-incident|vulnerability-scan|malware|phishing|intrusion|ddos|other), status, affected_services[], affected_jurisdictions[], root_cause, trigger, detection_method, entities:{people[],teams[],systems[],dates[],error_codes[]}, action_items:[{action,owner,priority}], contributing_factors[], sentiment, blameless_quality, cvss_score, cve_ids[], confidence_score, metrics:{detected_at,resolved_at,ttd_minutes,ttr_minutes,customer_impact}}\\nFor vuln scans set cvss_score and cve_ids verbatim. When unsure of severity pick the LOWER one.\\n\\nVISION NOTES (from embedded SIEM/scan charts):\\n${j.vision_notes || 'none'}\\n\\nDOCUMENT:\\n${j.extracted_text}`;\nreturn [{ json: { ...j, prompt } }];"
      },
      "id": "6af016d2-3471-4be5-836f-5a5f9528da25",
      "name": "Build extraction prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3-flash:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-goog-api-key",
              "value": "={{ $credentials.geminiApi.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{ \"parts\": [{ \"text\": {{ JSON.stringify($json.prompt) }} }] }],\n  \"generationConfig\": { \"temperature\": 0.1, \"responseMimeType\": \"application/json\" }\n}",
        "options": {}
      },
      "id": "60732ffc-fb98-4d80-b4a6-893546a2b4da",
      "name": "\ud83e\udde0 Gemini \u2014 extract incident",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2020,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_GEMINI",
          "name": "Gemini API"
        }
      },
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Build extraction prompt').first().json;\nconst resp = $input.first().json;\nlet txt = resp.candidates?.[0]?.content?.parts?.[0]?.text;\nif (!txt) throw new Error('Gemini returned no text');\ntxt = txt.replace(/^```json/,'').replace(/```$/,'').trim();\nlet g; try { g = JSON.parse(txt); } catch(e){ throw new Error('Bad JSON from Gemini: '+txt.slice(0,200)); }\n// shape payload for the enrichment API\ng.filename = prev.filename;\ng.correlation_id = prev.correlation_id;\nreturn [{ json: g }];"
      },
      "id": "8082a2fc-7084-4626-9bab-c2e5cc5ae225",
      "name": "Parse Gemini JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2280,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://enrichment-api:8000/enrich",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "53ce26ee-612b-4250-b1e0-45854e0a7d95",
      "name": "\u2699\ufe0f Enrich (FastAPI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2540,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1500
    },
    {
      "parameters": {
        "jsCode": "function esc(s){return String(s==null?'':s).replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;');}\nfunction actionsCsv(a){if(!a||!a.length)return'';return a.map(x=>{const o=(x&&x.owner&&String(x.owner).trim())?String(x.owner):'UNOWNED';const p=(x&&x.priority)?String(x.priority):'-';return p+': '+String(x.action||'')+' ('+o+')';}).join('; ');}\nfunction fileType(n){const m=String(n||'').match(/\\.([^.]+)$/);return m?m[1].toLowerCase():'txt';}\nconst g=$('Parse Gemini JSON').first().json;\nconst e=$input.first().json;\nconst classification=String(e.incident_type||g.incident_type||'other');\nconst filename=String(e.source_filename||g.filename||g.source_filename||'unknown');\nconst sentiment=String(g.sentiment||'neutral');\nconst routingTag=String(e.routing_tag||'auto-approved');\nconst summary=String(g.summary||'').slice(0,500);\nconst actionItems=actionsCsv(g.action_items||[]);\nconst row={document_id:e.document_id,filename:filename,file_type:fileType(filename),processed_at:e.processed_at,classification:classification,department:e.department,sentiment:sentiment,confidence_score:e.confidence_score,summary:summary,routing_tag:routingTag,sensitivity:e.sensitivity,action_items:actionItems,cvss_score:e.cvss_score,cve_ids:(e.cve_ids||[]).join(', ')};\nconst emailHtml='<h2>Document Processed</h2><p><b>File:</b> '+esc(filename)+'</p>+'<p><b>Classification:</b> '+esc(classification)+'</p><p><b>Sentiment:</b> '+esc(sentiment)+'</p>+'<p><b>Department:</b> '+esc(e.department)+'</p><p><b>Sensitivity:</b> '+esc(e.sensitivity)+'</p>+'<p><b>Routing tag:</b> '+esc(routingTag)+'</p><h3>Summary</h3><p>'+esc(summary)+'</p>+'<h3>Action items</h3><p>'+esc(actionItems||'(none)')+'</p>';const subjDigest='['+classification+'] New document processed: '+filename;\nconst subjSev1='[CONFIDENTIAL ESCALATE] '+filename+' - '+e.department;\nconst isSev1=e.computed_severity==='SEV1';\nreturn [{json:{row,markdown:'# '+e.computed_severity+' - '+classification,is_sev1:isSev1,e,g,emailSubjectDigest:subjDigest,emailHtmlDigest:emailHtml,emailSubjectSev1:subjSev1,emailHtmlSev1:emailHtml,out_path:`/data/output_docs/${e.document_id}.md`}}];"
      },
      "id": "589b387f-c326-4ca0-9299-706594a14937",
      "name": "Compose record + outputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: $input.first().json.row }];"
      },
      "id": "c3a53a51-3d2e-4916-aee2-e40040d040ab",
      "name": "Flatten row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2930,
        450
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "REPLACE_WITH_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Incidents"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": []
        },
        "options": {}
      },
      "id": "a903a027-5ac2-43ed-b6f0-ad4b6574315f",
      "name": "\ud83d\udcca Append to registry",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        3060,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_SHEETS",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const j = $('Compose record + outputs').first().json;\nconst buff = Buffer.from(j.markdown, 'utf8');\nreturn [{ json: { out_path: j.out_path },\n  binary: { data: { data: buff.toString('base64'),\n    mimeType: 'text/markdown', fileName: j.document_id + '.md' } } }];"
      },
      "id": "0d69b9de-9c1d-46e5-a813-0d60c5ee90ce",
      "name": "Markdown \u2192 file",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2930,
        630
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $('Compose record + outputs').first().json.out_path }}",
        "dataPropertyName": "data",
        "options": {}
      },
      "id": "a30259f9-8ece-43d4-8577-c23d44a36cc5",
      "name": "\ud83d\udcbe Write output doc",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        3060,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "ed832d13-8263-4bb1-a9b6-41220ce0a61d",
              "leftValue": "={{ $json.is_sev1 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ed78d928-acbb-438c-8160-a8dea1dce152",
      "name": "SEV1?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3320,
        300
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "sendTo": "=reem.mor3@gmail.com",
        "subject": "={{ $('Compose record + outputs').first().json.emailSubjectSev1 }}",
        "emailType": "html",
        "message": "={{ $('Compose record + outputs').first().json.emailHtmlSev1 }}",
        "options": {
          "priority": "high"
        }
      },
      "id": "6a4fdda7-ee64-49fe-a411-66ce3d0d6e9b",
      "name": "\ud83d\udea8 Page on-call (SEV1)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        3580,
        190
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_GMAIL",
          "name": "Gmail"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "sendTo": "=reem.mor3@gmail.com",
        "subject": "={{ $('Compose record + outputs').first().json.emailSubjectDigest }}",
        "emailType": "html",
        "message": "={{ $('Compose record + outputs').first().json.emailHtmlDigest }}",
        "options": {}
      },
      "id": "a58bd902-55d6-4fb9-b65a-32ec266c0cde",
      "name": "\ud83d\udce7 Send digest",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        3580,
        410
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_GMAIL",
          "name": "Gmail"
        }
      }
    },
    {
      "parameters": {
        "content": "## HINDSIGHT \u2014 cyber incident log pipeline\nDrop a SIEM export, vuln scan, or phishing report (.pdf/.md) into **/data/incoming_docs**.\nGemini extracts \u2192 FastAPI re-scores severity & routes \u2192 Sheets + Gmail.",
        "height": 180,
        "width": 540,
        "color": 4
      },
      "id": "72e87263-381c-4341-a79e-230eb0ebeff9",
      "name": "Note 0e07fe",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        180,
        70
      ]
    },
    {
      "parameters": {
        "content": "### Multimodal branch\nIf the doc embeds a Grafana/dashboard image, Gemini Vision reads the chart and the notes are folded into the main extraction. `onError: continue` so a vision miss never blocks the pipeline.",
        "height": 150,
        "width": 300,
        "color": 5
      },
      "id": "12f98c78-ab6d-4c54-b830-ee9c7543a895",
      "name": "Note 5350c5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1220,
        -60
      ]
    },
    {
      "parameters": {
        "content": "### Severity is computed, not trusted\nThe FastAPI service re-scores severity from a rubric (service tier \u00d7 jurisdiction breadth \u00d7 impact language). SEV1 \u2192 immediate page.",
        "height": 130,
        "width": 320,
        "color": 3
      },
      "id": "4c98a271-5878-4d55-848e-a6e05719e33a",
      "name": "Note 018664",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2520,
        100
      ]
    },
    {
      "parameters": {
        "content": "### Retry / rate-limit handling\nGemini nodes: retryOnFail, 5 tries, 3s backoff \u2014 survives 429s. Enrichment: 3 tries.",
        "height": 120,
        "width": 280,
        "color": 6
      },
      "id": "4e3213f0-db9c-47b2-b918-2e0127ea70dd",
      "name": "Note 5ccc58",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2000,
        500
      ]
    }
  ],
  "connections": {
    "\ud83d\udcc2 New postmortem": {
      "main": [
        [
          {
            "node": "\ud83d\udddc Extract text + images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\udddc Extract text + images": {
      "main": [
        [
          {
            "node": "Parse extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse extraction": {
      "main": [
        [
          {
            "node": "Has dashboard image?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has dashboard image?": {
      "main": [
        [
          {
            "node": "\ud83d\udc41 Gemini Vision \u2014 read chart",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Attach vision notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\udc41 Gemini Vision \u2014 read chart": {
      "main": [
        [
          {
            "node": "Attach vision notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach vision notes": {
      "main": [
        [
          {
            "node": "Build extraction prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build extraction prompt": {
      "main": [
        [
          {
            "node": "\ud83e\udde0 Gemini \u2014 extract incident",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83e\udde0 Gemini \u2014 extract incident": {
      "main": [
        [
          {
            "node": "Parse Gemini JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Gemini JSON": {
      "main": [
        [
          {
            "node": "\u2699\ufe0f Enrich (FastAPI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u2699\ufe0f Enrich (FastAPI)": {
      "main": [
        [
          {
            "node": "Compose record + outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compose record + outputs": {
      "main": [
        [
          {
            "node": "Flatten row",
            "type": "main",
            "index": 0
          },
          {
            "node": "Markdown \u2192 file",
            "type": "main",
            "index": 0
          },
          {
            "node": "SEV1?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten row": {
      "main": [
        [
          {
            "node": "\ud83d\udcca Append to registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown \u2192 file": {
      "main": [
        [
          {
            "node": "\ud83d\udcbe Write output doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEV1?": {
      "main": [
        [
          {
            "node": "\ud83d\udea8 Page on-call (SEV1)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "\ud83d\udce7 Send digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    {
      "name": "hindsight"
    },
    {
      "name": "sre"
    }
  ],
  "meta": {
    "templateid": "hindsight-postmortem-intelligence"
  }
}