n8n/hindsight_workflow.json
{
  "id": "2401581a-0001-4000-8000-hindsight001",
  "name": "HINDSIGHT \u2014 Cyber Incident Intelligence",
  "nodes": [
    {
      "parameters": {
        "triggerOn": "folder",
        "path": "/data/incoming_docs",
        "events": [
          "add"
        ],
        "options": {
          "usePolling": true,
          "ignored": "**/.*"
        }
      },
      "id": "9dda91b9-f009-4a06-8929-f8baf1924dfa",
      "name": "\ud83d\udcc2 New postmortem",
      "type": "n8n-nodes-base.localFileTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "command": "=python3 /data/extractors/extract_document.py \"{{ $json.path }}\" --image-dir /data/tmp_images"
      },
      "id": "134c1a22-77ee-40a9-b233-f8213ca1c918",
      "name": "\ud83d\udddc Extract text + images",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// stdout of the extractor is a single JSON object\nconst raw = $input.first().json.stdout;\nlet doc;\ntry { doc = JSON.parse(raw); }\ncatch (e) { throw new Error('Extractor did not return JSON: ' + raw?.slice(0,200)); }\nif (!doc.ok) { throw new Error('Extraction failed for ' + doc.filename); }\n// correlation id ties logs across Gemini + enrichment + sheets\nconst corr = 'hs-' + Date.now().toString(36) + '-' + Math.random().toString(36).slice(2,7);\nreturn [{ json: { ...doc, correlation_id: corr,\n  has_images: Array.isArray(doc.images) && doc.images.length > 0 } }];"
      },
      "id": "9169ae16-d82a-43b2-b303-1095abbbb177",
      "name": "Parse extraction",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "951ff171-f76b-4116-ba5e-57bbf7a0c605",
              "leftValue": "={{ $json.has_images }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "78c2cf71-ef94-49aa-bb3e-b9f4e2120017",
      "name": "Has dashboard image?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        980,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3-flash-preview:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{ \"parts\": [\n    { \"text\": \"Read this SIEM or vulnerability-scan chart screenshot. Return ONLY JSON: {image_kind, metric_name, unit, anomaly_observed, approx_peak_value, approx_baseline_value, time_window, one_line_summary}.\" },\n    { \"inline_data\": { \"mime_type\": \"image/png\", \"data\": \"{{ $binary.data0 ? $binary.data0.toString('base64') : '' }}\" } }\n  ]}],\n  \"generationConfig\": { \"temperature\": 0.2, \"responseMimeType\": \"application/json\" }\n}",
        "options": {}
      },
      "id": "b41cb83f-238b-4a5c-b9bd-7c8160a8ff40",
      "name": "\ud83d\udc41 Gemini Vision \u2014 read chart",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1240,
        170
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_GEMINI",
          "name": "Gemini API"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Fold any vision JSON into the extraction item as vision_notes.\nconst items = $input.all();\nconst base = items.find(i => i.json.extracted_text) || items[0];\nlet visionNotes = '';\nconst v = items.find(i => i.json.candidates || i.json.metric_name);\nif (v) {\n  try {\n    const t = v.json.candidates?.[0]?.content?.parts?.[0]?.text || JSON.stringify(v.json);\n    visionNotes = typeof t === 'string' ? t : JSON.stringify(t);\n  } catch (e) { visionNotes = ''; }\n}\nreturn [{ json: { ...base.json, vision_notes: visionNotes } }];"
      },
      "id": "a7b85382-828a-45f7-af7a-d18f775d5a68",
      "name": "Attach vision notes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const j = $input.first().json;\nconst prompt = `You are HINDSIGHT, a cybersecurity incident-log analyst. Read the SIEM export, vuln scan, or phishing report and return ONLY a valid JSON object matching this schema exactly:\\n{incident_title, summary, severity (SEV1|SEV2|SEV3|SEV4), incident_type (security|data-incident|vulnerability-scan|malware|phishing|intrusion|ddos|other), status, affected_services[], affected_jurisdictions[], root_cause, trigger, detection_method, entities:{people[],teams[],systems[],dates[],error_codes[]}, action_items:[{action,owner,priority}], contributing_factors[], sentiment, blameless_quality, cvss_score, cve_ids[], confidence_score, metrics:{detected_at,resolved_at,ttd_minutes,ttr_minutes,customer_impact}}\\nFor vuln scans set cvss_score and cve_ids verbatim. When unsure of severity pick the LOWER one.\\n\\nVISION NOTES (from embedded SIEM/scan charts):\\n${j.vision_notes || 'none'}\\n\\nDOCUMENT:\\n${j.extracted_text}`;\nreturn [{ json: { ...j, prompt } }];"
      },
      "id": "deaf32ae-0134-4ec9-94c6-3c1175165408",
      "name": "Build extraction prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3-flash-preview:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{ \"parts\": [{ \"text\": {{ JSON.stringify($json.prompt) }} }] }],\n  \"generationConfig\": { \"temperature\": 0.2, \"responseMimeType\": \"application/json\" }\n}",
        "options": {}
      },
      "id": "1abe25d5-891a-401c-ab10-d2fd3133db16",
      "name": "\ud83e\udde0 Gemini \u2014 extract incident",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2020,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_GEMINI",
          "name": "Gemini API"
        }
      },
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "jsCode": "const FENCE = String.fromCharCode(96, 96, 96);\nconst REQUIRED = ['summary', 'sentiment', 'action_items', 'confidence_score'];\nfunction validateGeminiShape(g) {\n  const missing = [];\n  for (let i = 0; i < REQUIRED.length; i++) {\n    if (g[REQUIRED[i]] === undefined) missing.push(REQUIRED[i]);\n  }\n  if (!g.incident_type && !g.classification) missing.push('incident_type|classification');\n  if (!Array.isArray(g.action_items)) missing.push('action_items(array)');\n  if (missing.length) throw new Error('Gemini JSON missing required fields: ' + missing.join(', '));\n}\nconst prev = $('Build extraction prompt').first().json;\nconst resp = $input.first().json;\nlet txt = resp.candidates?.[0]?.content?.parts?.[0]?.text;\nif (!txt) throw new Error('Gemini returned no text');\ntxt = String(txt).trim();\nif (txt.indexOf(FENCE) !== -1) {\n  txt = txt.split(FENCE).join('');\n  if (txt.toLowerCase().indexOf('json') === 0) txt = txt.slice(4);\n  txt = txt.trim();\n}\nlet g; try { g = JSON.parse(txt); } catch(e){ throw new Error('Bad JSON from Gemini: '+txt.slice(0,200)); }\nvalidateGeminiShape(g);\ng.filename = prev.filename;\ng.correlation_id = prev.correlation_id;\nreturn [{ json: g }];"
      },
      "id": "6973d385-e05d-4b9e-b941-9835250a9740",
      "name": "Parse Gemini JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2280,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://enrichment-api:8000/enrich",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "cfd4af6a-d7e9-4e41-80ec-28005edfad9c",
      "name": "\u2699\ufe0f Enrich (FastAPI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2540,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1500
    },
    {
      "parameters": {
        "jsCode": "function esc(s){return String(s==null?'':s).replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;');}\nfunction actionsCsv(a){if(!a||!a.length)return'';return a.map(x=>{const o=(x&&x.owner&&String(x.owner).trim())?String(x.owner):'UNOWNED';const p=(x&&x.priority)?String(x.priority):'-';return p+': '+String(x.action||'')+' ('+o+')';}).join('; ');}\nfunction fileType(n){const m=String(n||'').match(/\\.([^.]+)$/);return m?m[1].toLowerCase():'txt';}\nconst g=$('Parse Gemini JSON').first().json;\nconst e=$input.first().json;\nconst classification=String(e.incident_type||g.incident_type||'other');\nconst filename=String(e.source_filename||g.filename||g.source_filename||'unknown');\nconst sentiment=String(g.sentiment||'neutral');\nconst routingTag=String(e.routing_tag||'auto-approved');\nconst summary=String(g.summary||'').slice(0,500);\nconst actionItems=actionsCsv(g.action_items||[]);\nconst row={document_id:e.document_id,filename:filename,file_type:fileType(filename),processed_at:e.processed_at,classification:classification,department:e.department,sentiment:sentiment,confidence_score:e.confidence_score,summary:summary,routing_tag:routingTag,sensitivity:e.sensitivity,action_items:actionItems,cvss_score:e.cvss_score,cve_ids:(e.cve_ids||[]).join(', ')};\nconst emailHtml='<h2>Document Processed</h2>'+'<p><b>File:</b> '+esc(filename)+'</p>'+'<p><b>Classification:</b> '+esc(classification)+'</p>'+'<p><b>Sentiment:</b> '+esc(sentiment)+'</p>'+'<p><b>Department:</b> '+esc(e.department)+'</p>'+'<p><b>Sensitivity:</b> '+esc(e.sensitivity)+'</p>'+'<p><b>Routing tag:</b> '+esc(routingTag)+'</p>'+'<h3>Summary</h3><p>'+esc(summary)+'</p>'+'<h3>Action items</h3><p>'+esc(actionItems||'(none)')+'</p>'+'<p><a href=\"https://docs.google.com/spreadsheets/d/1Z7tiPISHB5siYby_lQnWA9wtXbDXVSGTu4HGZ5Dk2tk/edit\">Open Incidents registry</a></p>'+'<hr><p><i>Sent automatically by n8n + Gemini 3 Document Analyst</i></p>';\nconst markdown='# '+e.computed_severity+' - '+classification+'\\n\\n'+'| Field | Value |\\n|---|---|\\n'+'| File | '+filename+' |\\n'+'| Classification | '+classification+' |\\n'+'| Department | '+e.department+' |\\n'+'| Sensitivity | '+e.sensitivity+' |\\n'+'| Routing tag | '+routingTag+' |\\n'+'| CVSS | '+(e.cvss_score!=null?e.cvss_score:'n/a')+' |\\n\\n'+'## Summary\\n'+summary+'\\n\\n## Action items\\n'+(actionItems||'(none)')+'\\n';\nconst subjDigest='['+classification+'] New document processed: '+filename;\nconst subjSev1='[CONFIDENTIAL ESCALATE] '+filename+' - '+e.department;\nconst isSev1=e.computed_severity==='SEV1'||String(e.sensitivity)==='confidential'||routingTag==='escalate';\nconst recordJson=JSON.stringify({...row,postmortem_markdown:markdown},null,2);\nreturn [{json:{row,markdown,recordJson,is_sev1:isSev1,e,g,emailSubjectDigest:subjDigest,emailHtmlDigest:emailHtml,emailSubjectSev1:subjSev1,emailHtmlSev1:emailHtml,out_path:`/data/output_docs/${e.document_id}.md`,json_out_path:`/data/output_docs/${e.document_id}.json`}}];"
      },
      "id": "043ee6ba-0924-446f-aef7-c3db42a113fb",
      "name": "Compose record + outputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: $input.first().json.row }];"
      },
      "id": "ae8be495-f50c-4e99-9d91-ab5f561d0f7f",
      "name": "Flatten row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2930,
        450
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "REPLACE_WITH_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Incidents"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": []
        },
        "options": {}
      },
      "id": "b8e08aab-4e92-4057-8fc9-732474a46c45",
      "name": "\ud83d\udcca Append to registry",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        3060,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_SHEETS",
          "name": "Google Sheets Amdocs Course API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const j = $('Compose record + outputs').first().json;\nconst buff = Buffer.from(j.markdown, 'utf8');\nreturn [{ json: { out_path: j.out_path },\n  binary: { data: { data: buff.toString('base64'),\n    mimeType: 'text/markdown', fileName: j.row.document_id + '.md' } } }];"
      },
      "id": "65bb5301-8a6f-449c-a34f-567c15fa0ba0",
      "name": "Markdown \u2192 file",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2930,
        630
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $('Compose record + outputs').first().json.out_path }}",
        "dataPropertyName": "data",
        "options": {}
      },
      "id": "ac38eefc-a41b-4d13-ae7f-f298749ec492",
      "name": "\ud83d\udcbe Write output doc",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        3060,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "const j = $('Compose record + outputs').first().json;\nconst buff = Buffer.from(j.recordJson, 'utf8');\nreturn [{ json: { json_out_path: j.json_out_path },\n  binary: { data: { data: buff.toString('base64'),\n    mimeType: 'application/json', fileName: j.row.document_id + '.json' } } }];"
      },
      "id": "28dfbc9a-9a92-4a38-afba-b51e7622d4e1",
      "name": "Record \u2192 JSON file",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2930,
        760
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $('Compose record + outputs').first().json.json_out_path }}",
        "dataPropertyName": "data",
        "options": {}
      },
      "id": "6f51b6f6-1051-470f-837b-4c2d62a28e4c",
      "name": "\ud83d\udcbe Write JSON record",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        3060,
        630
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "431df27b-91ab-4a05-9cb7-60648834cf85",
              "leftValue": "={{ $json.is_sev1 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b32dfff9-85c7-438a-8910-5e5e8e6bd145",
      "name": "SEV1?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3320,
        300
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "sendTo": "=reem.mor3@gmail.com",
        "subject": "={{ $('Compose record + outputs').first().json.emailSubjectSev1 }}",
        "emailType": "html",
        "message": "={{ $('Compose record + outputs').first().json.emailHtmlSev1 }}",
        "options": {
          "priority": "high"
        }
      },
      "id": "fdee2cb8-b2b8-4337-9926-ca58001c2b99",
      "name": "\ud83d\udea8 Page on-call (SEV1)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        3580,
        190
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_GMAIL",
          "name": "Gmail Amdocs course API"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "sendTo": "=reem.mor3@gmail.com",
        "subject": "={{ $('Compose record + outputs').first().json.emailSubjectDigest }}",
        "emailType": "html",
        "message": "={{ $('Compose record + outputs').first().json.emailHtmlDigest }}",
        "options": {}
      },
      "id": "cea87285-cf3a-41f5-b7fb-1c800f198411",
      "name": "\ud83d\udce7 Send digest",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        3580,
        410
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_GMAIL",
          "name": "Gmail Amdocs course API"
        }
      }
    },
    {
      "parameters": {
        "content": "## HINDSIGHT \u2014 cyber incident log pipeline\n\nDrop a SIEM export, vuln scan, or phishing report (.pdf/.md/.txt) into **/data/incoming_docs**.\n\nGemini extracts \u2192 FastAPI re-scores severity & routes \u2192 Google Sheets + `output_docs/` (JSON + Markdown) + Gmail.",
        "height": 220,
        "width": 560,
        "color": 4
      },
      "id": "f5bb7157-0905-4a89-a626-0714df30b990",
      "name": "Note 0d9224",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        180,
        40
      ]
    },
    {
      "parameters": {
        "content": "### Multimodal branch (BON-1)\n\nIf the doc embeds a dashboard/scan image, Gemini Vision reads the chart and the notes are folded into the main extraction.\n\n`onError: continue` so a vision miss never blocks the pipeline.",
        "height": 210,
        "width": 320,
        "color": 5
      },
      "id": "966ee569-aefe-4d1a-9ae5-992f21efbbca",
      "name": "Note 01ee58",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1220,
        -80
      ]
    },
    {
      "parameters": {
        "content": "### Severity is computed, not trusted\n\nThe FastAPI service re-scores severity from a rubric (service tier \u00d7 jurisdiction breadth \u00d7 impact language).\n\nCVSS floors the result; SEV1 \u2192 immediate page.",
        "height": 200,
        "width": 340,
        "color": 3
      },
      "id": "05ae4320-4c90-4d6f-bd96-a82035d60c3f",
      "name": "Note 6dedef",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2520,
        70
      ]
    },
    {
      "parameters": {
        "content": "### Retry / rate-limit handling (BON-4)\n\nGemini nodes: retryOnFail, 5 tries, 3s backoff \u2014 survives 429s. Enrichment: 3 tries.",
        "height": 170,
        "width": 320,
        "color": 6
      },
      "id": "b8528771-c13a-4d76-a6e8-785a419e32f4",
      "name": "Note d58697",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2000,
        510
      ]
    }
  ],
  "connections": {
    "\ud83d\udcc2 New postmortem": {
      "main": [
        [
          {
            "node": "\ud83d\udddc Extract text + images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\udddc Extract text + images": {
      "main": [
        [
          {
            "node": "Parse extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse extraction": {
      "main": [
        [
          {
            "node": "Has dashboard image?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has dashboard image?": {
      "main": [
        [
          {
            "node": "\ud83d\udc41 Gemini Vision \u2014 read chart",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Attach vision notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\udc41 Gemini Vision \u2014 read chart": {
      "main": [
        [
          {
            "node": "Attach vision notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach vision notes": {
      "main": [
        [
          {
            "node": "Build extraction prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build extraction prompt": {
      "main": [
        [
          {
            "node": "\ud83e\udde0 Gemini \u2014 extract incident",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83e\udde0 Gemini \u2014 extract incident": {
      "main": [
        [
          {
            "node": "Parse Gemini JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Gemini JSON": {
      "main": [
        [
          {
            "node": "\u2699\ufe0f Enrich (FastAPI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u2699\ufe0f Enrich (FastAPI)": {
      "main": [
        [
          {
            "node": "Compose record + outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compose record + outputs": {
      "main": [
        [
          {
            "node": "Flatten row",
            "type": "main",
            "index": 0
          },
          {
            "node": "Markdown \u2192 file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Record \u2192 JSON file",
            "type": "main",
            "index": 0
          },
          {
            "node": "SEV1?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten row": {
      "main": [
        [
          {
            "node": "\ud83d\udcca Append to registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown \u2192 file": {
      "main": [
        [
          {
            "node": "\ud83d\udcbe Write output doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record \u2192 JSON file": {
      "main": [
        [
          {
            "node": "\ud83d\udcbe Write JSON record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEV1?": {
      "main": [
        [
          {
            "node": "\ud83d\udea8 Page on-call (SEV1)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "\ud83d\udce7 Send digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    {
      "name": "hindsight"
    },
    {
      "name": "sre"
    }
  ],
  "meta": {
    "templateid": "hindsight-postmortem-intelligence"
  }
}