n8n/cloud/digest_workflow.json
{
  "name": "HINDSIGHT \u2014 Daily Digest (Cloud)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "digest-schedule",
      "name": "Daily 08:00 UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "resource": "sheet",
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1Z7tiPISHB5siYby_lQnWA9wtXbDXVSGTu4HGZ5Dk2tk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Incidents"
        },
        "options": {}
      },
      "id": "digest-read-sheet",
      "name": "Read Registry",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        480,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets Amdocs Course API"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Filter registry rows to last 24h and build daily digest HTML for Gmail.\nconst WINDOW_HOURS = 24;\nconst items = $input.all();\nconst rows = [];\nfor (let i = 0; i < items.length; i++) {\n  const j = items[i].json || {};\n  if (j.document_id || j.filename) rows.push(j);\n}\nconst now = Date.now();\nconst cutoff = now - WINDOW_HOURS * 60 * 60 * 1000;\n\nfunction parseTs(v) {\n  if (!v) return null;\n  const d = new Date(String(v));\n  return isNaN(d.getTime()) ? null : d.getTime();\n}\n\nconst recent = [];\nfor (let i = 0; i < rows.length; i++) {\n  const ts = parseTs(rows[i].processed_at);\n  if (ts !== null && ts >= cutoff) recent.push(rows[i]);\n}\n\nfunction countBy(key) {\n  const m = {};\n  for (let i = 0; i < recent.length; i++) {\n    const k = String(recent[i][key] || \"unknown\");\n    m[k] = (m[k] || 0) + 1;\n  }\n  return m;\n}\n\nconst agg = {\n  total: recent.length,\n  by_classification: countBy(\"classification\"),\n  by_sensitivity: countBy(\"sensitivity\"),\n  by_routing_tag: countBy(\"routing_tag\"),\n  by_severity: countBy(\"computed_severity\"),\n  filenames: recent.slice(0, 20).map(function (r) { return String(r.filename || \"\"); }),\n};\n\nfunction listHtml(counter) {\n  const keys = Object.keys(counter || {});\n  if (!keys.length) return \"<li>none</li>\";\n  return keys.sort().map(function (k) {\n    return \"<li>\" + k + \": \" + counter[k] + \"</li>\";\n  }).join(\"\");\n}\n\nconst fileList = agg.filenames.length\n  ? agg.filenames.map(function (f) { return \"<li>\" + f + \"</li>\"; }).join(\"\")\n  : \"<li>none</li>\";\n\nconst html = \"\"\n  + \"<h2>HINDSIGHT \u2014 Daily digest (last \" + WINDOW_HOURS + \"h)</h2>\"\n  + \"<p><b>Documents processed:</b> \" + agg.total + \"</p>\"\n  + \"<h3>By classification</h3><ul>\" + listHtml(agg.by_classification) + \"</ul>\"\n  + \"<h3>By severity</h3><ul>\" + listHtml(agg.by_severity) + \"</ul>\"\n  + \"<h3>By sensitivity</h3><ul>\" + listHtml(agg.by_sensitivity) + \"</ul>\"\n  + \"<h3>By routing tag</h3><ul>\" + listHtml(agg.by_routing_tag) + \"</ul>\"\n  + \"<h3>Recent files</h3><ul>\" + fileList + \"</ul>\"\n  + \"<hr><p><i>Sent automatically by HINDSIGHT daily digest workflow</i></p>\";\n\nconst subject = \"[HINDSIGHT] Daily digest \u2014 \" + agg.total + \" incident(s) in last \" + WINDOW_HOURS + \"h\";\n\nreturn [{ json: { digestHtml: html, digestSubject: subject, digestAggregate: agg } }];\n"
      },
      "id": "digest-aggregate",
      "name": "Aggregate Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "reem.mor3@gmail.com",
        "subject": "={{ $json.digestSubject }}",
        "emailType": "html",
        "message": "={{ $json.digestHtml }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "digest-gmail",
      "name": "Send Daily Digest",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        960,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "name": "Gmail Amdocs course API"
        }
      }
    }
  ],
  "connections": {
    "Daily 08:00 UTC": {
      "main": [
        [
          {
            "node": "Read Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Registry": {
      "main": [
        [
          {
            "node": "Aggregate Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Digest": {
      "main": [
        [
          {
            "node": "Send Daily Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}