n8n/cloud/digest_workflow.json
{
  "name": "HINDSIGHT \u2014 Daily Digest (Cloud)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "digest-schedule",
      "name": "Daily 08:00 UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "resource": "sheet",
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1Z7tiPISHB5siYby_lQnWA9wtXbDXVSGTu4HGZ5Dk2tk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Incidents"
        },
        "options": {}
      },
      "id": "digest-read-sheet",
      "name": "Read Registry",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        480,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets Amdocs Course API"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Filter registry rows to last 24h and build daily digest HTML for Gmail.\n\nconst WINDOW_HOURS = 24;\n\nconst SHEET_ID = \"1Z7tiPISHB5siYby_lQnWA9wtXbDXVSGTu4HGZ5Dk2tk\";\n\nconst SHEET_URL = \"https://docs.google.com/spreadsheets/d/\" + SHEET_ID + \"/edit\";\n\nconst FORM_URL = \"https://reemmor.app.n8n.cloud/form/21593841-f8b8-43a2-88a8-8595ad3e2f39\";\n\n\n\nfunction esc(s) {\n\n  return String(s == null ? \"\" : s)\n\n    .replace(/&/g, \"&amp;\").replace(/</g, \"&lt;\").replace(/>/g, \"&gt;\").replace(/\"/g, \"&quot;\");\n\n}\n\n\n\nfunction statCards(agg) {\n\n  const cards = [\n\n    [\"Processed\", agg.total, \"#4DD0A7\"],\n\n    [\"SEV1\", (agg.by_severity && agg.by_severity.SEV1) || 0, \"#FF4D5E\"],\n\n    [\"Confidential\", (agg.by_sensitivity && agg.by_sensitivity.confidential) || 0, \"#FF9F43\"],\n\n    [\"Escalated\", (agg.by_routing_tag && agg.by_routing_tag.escalate) || 0, \"#FF4D5E\"],\n\n  ];\n\n  let html = \"<table role=\\\"presentation\\\" width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\"><tr>\";\n\n  for (let i = 0; i < cards.length; i++) {\n\n    html += \"<td style=\\\"width:25%;padding:6px;\\\">\"\n\n      + \"<div style=\\\"border:1px solid #e2e8f0;border-radius:10px;padding:12px;text-align:center;\\\">\"\n\n      + \"<div style=\\\"font-size:11px;color:#64748b;text-transform:uppercase;letter-spacing:.08em;\\\">\"\n\n      + esc(cards[i][0]) + \"</div>\"\n\n      + \"<div style=\\\"font-size:28px;font-weight:700;color:\" + cards[i][2] + \";margin-top:4px;\\\">\"\n\n      + esc(String(cards[i][1])) + \"</div></div></td>\";\n\n  }\n\n  return html + \"</tr></table>\";\n\n}\n\n\n\nfunction listHtml(counter) {\n\n  const keys = Object.keys(counter || {});\n\n  if (!keys.length) return \"<li style=\\\"color:#64748b;\\\">None in window</li>\";\n\n  return keys.sort().map(function (k) {\n\n    return \"<li style=\\\"margin:4px 0;\\\"><strong>\" + esc(k) + \"</strong> \u00b7 \" + esc(String(counter[k])) + \"</li>\";\n\n  }).join(\"\");\n\n}\n\n\n\nconst items = $input.all();\n\nconst rows = [];\n\nfor (let i = 0; i < items.length; i++) {\n\n  const j = items[i].json || {};\n\n  if (j.document_id || j.filename) rows.push(j);\n\n}\n\nconst now = Date.now();\n\nconst cutoff = now - WINDOW_HOURS * 60 * 60 * 1000;\n\n\n\nfunction parseTs(v) {\n\n  if (!v) return null;\n\n  const d = new Date(String(v));\n\n  return isNaN(d.getTime()) ? null : d.getTime();\n\n}\n\n\n\nconst recent = [];\n\nfor (let i = 0; i < rows.length; i++) {\n\n  const ts = parseTs(rows[i].processed_at);\n\n  if (ts !== null && ts >= cutoff) recent.push(rows[i]);\n\n}\n\n\n\nfunction countBy(key) {\n\n  const m = {};\n\n  for (let i = 0; i < recent.length; i++) {\n\n    const k = String(recent[i][key] || \"unknown\");\n\n    m[k] = (m[k] || 0) + 1;\n\n  }\n\n  return m;\n\n}\n\n// Registry rows store only the 14 sheet columns (no computed_severity), so\n// recover a severity bucket from the stored CVSS / routing decision.\nfunction deriveSeverity(row) {\n  const direct = row.computed_severity || row.severity;\n  if (direct) return String(direct);\n  const c = Number(row.cvss_score);\n  if (isFinite(c) && c > 0) {\n    if (c >= 9.0) return \"SEV1\";\n    if (c >= 7.0) return \"SEV2\";\n    if (c >= 4.0) return \"SEV3\";\n    return \"SEV4\";\n  }\n  if (String(row.routing_tag || \"\") === \"escalate\") return \"SEV1\";\n  return \"unknown\";\n}\n\nfunction countBySeverity() {\n  const m = {};\n  for (let i = 0; i < recent.length; i++) {\n    const k = deriveSeverity(recent[i]);\n    m[k] = (m[k] || 0) + 1;\n  }\n  return m;\n}\n\nconst agg = {\n\n  total: recent.length,\n\n  by_classification: countBy(\"classification\"),\n\n  by_sensitivity: countBy(\"sensitivity\"),\n\n  by_routing_tag: countBy(\"routing_tag\"),\n\n  by_severity: countBySeverity(),\n\n  filenames: recent.slice(0, 20).map(function (r) { return String(r.filename || \"\"); }),\n\n};\n\n\n\nconst fileList = agg.filenames.length\n\n  ? agg.filenames.map(function (f) { return \"<li style=\\\"margin:4px 0;\\\">\" + esc(f) + \"</li>\"; }).join(\"\")\n\n  : \"<li style=\\\"color:#64748b;\\\">None in window</li>\";\n\n\n\nconst html = \"\"\n\n  + \"<!DOCTYPE html><html lang=\\\"en\\\"><head><meta charset=\\\"utf-8\\\">\"\n\n  + \"<meta name=\\\"viewport\\\" content=\\\"width=device-width,initial-scale=1\\\">\"\n\n  + \"<title>HINDSIGHT Daily Digest</title></head>\"\n\n  + \"<body style=\\\"margin:0;padding:0;background:#f1f5f9;font-family:Inter,Arial,sans-serif;color:#0f172a;\\\">\"\n\n  + \"<table role=\\\"presentation\\\" width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" style=\\\"background:#f1f5f9;padding:24px 12px;\\\">\"\n\n  + \"<tr><td align=\\\"center\\\">\"\n\n  + \"<table role=\\\"presentation\\\" width=\\\"600\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" style=\\\"max-width:600px;width:100%;background:#fff;border:1px solid #e2e8f0;border-radius:12px;overflow:hidden;\\\">\"\n\n  + \"<tr><td style=\\\"background:#0B0F14;color:#E6EDF3;padding:18px 24px;\\\">\"\n\n  + \"<p style=\\\"margin:0;font-size:11px;letter-spacing:.14em;text-transform:uppercase;color:#8696A7;\\\">HINDSIGHT \u00b7 Daily digest</p>\"\n\n  + \"<h1 style=\\\"margin:6px 0 0;font-size:22px;font-weight:700;\\\">Last \" + WINDOW_HOURS + \" hours</h1>\"\n\n  + \"</td></tr>\"\n\n  + \"<tr><td style=\\\"padding:20px 24px;\\\">\" + statCards(agg) + \"</td></tr>\"\n\n  + \"<tr><td style=\\\"padding:0 24px 20px;\\\">\"\n\n  + \"<h2 style=\\\"margin:0 0 8px;font-size:14px;font-weight:700;\\\">By classification</h2><ul style=\\\"margin:0;padding-left:18px;font-size:14px;\\\">\"\n\n  + listHtml(agg.by_classification) + \"</ul>\"\n\n  + \"<h2 style=\\\"margin:18px 0 8px;font-size:14px;font-weight:700;\\\">By severity</h2><ul style=\\\"margin:0;padding-left:18px;font-size:14px;\\\">\"\n\n  + listHtml(agg.by_severity) + \"</ul>\"\n\n  + \"<h2 style=\\\"margin:18px 0 8px;font-size:14px;font-weight:700;\\\">By sensitivity</h2><ul style=\\\"margin:0;padding-left:18px;font-size:14px;\\\">\"\n\n  + listHtml(agg.by_sensitivity) + \"</ul>\"\n\n  + \"<h2 style=\\\"margin:18px 0 8px;font-size:14px;font-weight:700;\\\">By routing tag</h2><ul style=\\\"margin:0;padding-left:18px;font-size:14px;\\\">\"\n\n  + listHtml(agg.by_routing_tag) + \"</ul>\"\n\n  + \"<h2 style=\\\"margin:18px 0 8px;font-size:14px;font-weight:700;\\\">Recent files</h2><ul style=\\\"margin:0;padding-left:18px;font-size:14px;\\\">\"\n\n  + fileList + \"</ul>\"\n\n  + \"</td></tr>\"\n\n  + \"<tr><td style=\\\"padding:14px 24px;background:#f8fafc;border-top:1px solid #e2e8f0;font-size:11px;color:#64748b;line-height:1.5;\\\">\"\n\n  + \"Automated by HINDSIGHT daily digest workflow<br>\"\n\n  + \"<a href=\\\"\" + SHEET_URL + \"\\\" style=\\\"color:#4DD0A7;\\\">Open registry</a> \u00b7 \"\n\n  + \"<a href=\\\"\" + FORM_URL + \"\\\" style=\\\"color:#4DD0A7;\\\">Submit document</a>\"\n\n  + \"</td></tr></table></td></tr></table></body></html>\";\n\n\n\nconst subject = \"[HINDSIGHT] Daily digest \u2014 \" + agg.total + \" incident(s) in last \" + WINDOW_HOURS + \"h\";\n\n\n\nreturn [{ json: { digestHtml: html, digestSubject: subject, digestAggregate: agg } }];\n\n"
      },
      "id": "digest-aggregate",
      "name": "Aggregate Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "reem.mor3@gmail.com",
        "subject": "={{ $json.digestSubject }}",
        "emailType": "html",
        "message": "={{ $json.digestHtml }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "digest-gmail",
      "name": "Send Daily Digest",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        960,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "name": "Gmail Amdocs course API"
        }
      }
    }
  ],
  "connections": {
    "Daily 08:00 UTC": {
      "main": [
        [
          {
            "node": "Read Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Registry": {
      "main": [
        [
          {
            "node": "Aggregate Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Digest": {
      "main": [
        [
          {
            "node": "Send Daily Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}