n8n/cloud/hindsight_cloud_workflow.json
{
  "name": "HINDSIGHT \u2014 Postmortem Intelligence (Cloud)",
  "nodes": [
    {
      "parameters": {
        "formTitle": "HINDSIGHT \u2014 Cyber Incident Intake",
        "formDescription": "Upload a cyber incident log (.pdf, .md, .txt, or .zip): SIEM export, vulnerability scan, phishing report, or intrusion writeup. HINDSIGHT extracts with Gemini, re-scores severity deterministically, routes to SecOps, and files to the registry.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Incident Log",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".pdf,.md,.txt,.markdown,.zip",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "respondWithOptions": {
            "values": {
              "formSubmittedText": "Received \u2014 HINDSIGHT is analyzing your document. The registry and your inbox will update shortly."
            }
          }
        }
      },
      "id": "f9fe9a2e-e94d-49b7-b8cf-bda4700392ff",
      "name": "Submit a Postmortem",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        224,
        416
      ],
      "webhookId": "21593841-f8b8-43a2-88a8-8595ad3e2f39"
    },
    {
      "parameters": {
        "jsCode": "const PROMPT_HEAD = [\n\"ROLE: You are HINDSIGHT, a senior cybersecurity incident-log intelligence analyst.\",\n\"You extract facts from SIEM exports, vulnerability scans (Nessus/Qualys/Tenable),\",\n\"phishing investigations, malware findings, and intrusion writeups.\",\n\"\",\n\"TASK: Read the document and return structured incident intelligence for SecOps triage.\",\n\"\",\n\"OUTPUT FORMAT: Return ONLY a valid JSON object \u2014 no markdown, no code fences, no commentary.\",\n\"Use EXACTLY these fields:\",\n\"{\",\n'  \"incident_title\": \"short title for the finding or incident\",',\n'  \"summary\": \"2-3 sentence summary of what happened and the impact\",',\n'  \"severity\": \"one of: [SEV1, SEV2, SEV3, SEV4]\",',\n'  \"incident_type\": \"one of: [security, data-incident, vulnerability-scan, malware, phishing, intrusion, ddos, other]\",',\n'  \"status\": \"one of: [resolved, monitoring, ongoing]\",',\n'  \"affected_services\": [\"systems or services named in the document\"],',\n'  \"affected_jurisdictions\": [\"GLOBAL only if explicitly scoped\"],',\n'  \"root_cause\": \"underlying root cause in one or two sentences\",',\n'  \"trigger\": \"what triggered the alert or finding\",',\n'  \"detection_method\": \"one of: [alert, monitoring, customer-report, manual, synthetic, unknown]\",',\n'  \"entities\": {\"people\": [], \"teams\": [], \"systems\": [], \"dates\": [], \"error_codes\": []},',\n'  \"action_items\": [{\"action\": \"follow-up action\", \"owner\": \"owner or null\", \"priority\": \"one of: [P0, P1, P2] or null\"}],',\n'  \"contributing_factors\": [],',\n'  \"sentiment\": \"one of: [positive, neutral, negative]\",',\n'  \"blameless_quality\": \"one of: [good, acceptable, poor, unknown]\",',\n'  \"cvss_score\": null,',\n'  \"cve_ids\": [],',\n'  \"confidence_score\": 0.0,',\n'  \"metrics\": {\"detected_at\": \"ISO or null\", \"resolved_at\": \"ISO or null\", \"ttd_minutes\": 0, \"ttr_minutes\": 0, \"customer_impact\": \"one sentence or null\"}',\n\"}\",\n\"\",\n\"RULES:\",\n\"- incident_type maps to downstream classification (e.g. vulnerability-scan, phishing, intrusion).\",\n\"- For vuln scans: set cvss_score and cve_ids verbatim when present; never invent CVEs.\",\n\"- SEV1 = active compromise, critical vuln (CVSS >= 9), or major data exposure; when unsure pick LOWER severity.\",\n\"- Use null (not empty string) for unknown scalar values; use [] for empty arrays.\",\n\"- Do not invent systems, hosts, people, or metrics not stated in the document.\",\n\"- Write summary in clear, professional language suitable for an on-call handoff.\",\n\"\"\n].join(\"\\\\n\");\n\nconst MAX_DOCUMENT_CHARS = 900000;\n\nfunction truncateDocumentText(text) {\n  const raw = String(text || \"\");\n  if (raw.length <= MAX_DOCUMENT_CHARS) return raw;\n  return raw.slice(0, MAX_DOCUMENT_CHARS)\n    + \"\\n\\n[TRUNCATED: document exceeded \" + MAX_DOCUMENT_CHARS + \" chars; tail omitted before Gemini]\";\n}\n\nfunction readU16(buf, off) { return buf[off] | (buf[off + 1] << 8); }\nfunction readU32(buf, off) {\n  return (buf[off] | (buf[off + 1] << 8) | (buf[off + 2] << 16) | (buf[off + 3] << 24)) >>> 0;\n}\nfunction unzipTextEntries(buf) {\n  const entries = [];\n  let eocd = buf.length;\n  for (let i = buf.length - 22; i >= 0; i--) {\n    if (readU32(buf, i) === 0x06054b50) { eocd = i; break; }\n  }\n  let offset = 0;\n  while (offset + 30 < eocd) {\n    if (readU32(buf, offset) !== 0x04034b50) break;\n    const comp = readU16(buf, offset + 8);\n    const compSize = readU32(buf, offset + 18);\n    const nameLen = readU16(buf, offset + 26);\n    const extraLen = readU16(buf, offset + 28);\n    const name = buf.slice(offset + 30, offset + 30 + nameLen).toString(\"utf8\");\n    const dataStart = offset + 30 + nameLen + extraLen;\n    const data = buf.slice(dataStart, dataStart + compSize);\n    offset = dataStart + compSize;\n    if (name.endsWith(\"/\")) continue;\n    const ext = name.indexOf(\".\") >= 0 ? name.split(\".\").pop().toLowerCase() : \"\";\n    if (ext !== \"md\" && ext !== \"txt\" && ext !== \"markdown\") continue;\n    let raw;\n    if (comp === 0) {\n      raw = data;\n    } else if (comp === 8) {\n      throw new Error(\"DEFLATE zip entries blocked on n8n Cloud \u2014 re-pack with ZIP_STORED (see samples/make_batch_zip.py)\");\n    } else {\n      continue;\n    }\n    entries.push({ filename: name.split(\"/\").pop(), text: raw.toString(\"utf8\") });\n    if (entries.length >= 25) {\n      if (offset + 30 < eocd && readU32(buf, offset) === 0x04034b50) {\n        throw new Error(\n          \"ZIP batch exceeds 25 supported .md/.txt files \u2014 split the archive or use the self-hosted batch API\"\n        );\n      }\n      break;\n    }\n  }\n  return entries;\n}\n\nconst TEXT_EXTS = { md: 1, txt: 1, markdown: 1 };\n\nfunction newCorrelationId() {\n  if (globalThis.crypto && typeof globalThis.crypto.randomUUID === \"function\") {\n    return globalThis.crypto.randomUUID();\n  }\n  return \"hs-\" + Date.now() + \"-\" + Math.floor(Math.random() * 1e6);\n}\n\nfunction buildGeminiBody(documentText, isPdf, b64) {\n  let parts;\n  if (isPdf) {\n    const promptText = PROMPT_HEAD\n      + \"VISION NOTES: The source PDF is attached. Read any embedded SIEM or scan charts and fold metrics into summary.\\n\"\n      + \"DOCUMENT: (see attached PDF)\";\n    parts = [{ text: promptText }, { inline_data: { mime_type: \"application/pdf\", data: b64 } }];\n  } else {\n    const promptText = PROMPT_HEAD\n      + \"VISION NOTES: (none)\\n\"\n      + \"DOCUMENT TEXT:\\n\" + truncateDocumentText(documentText);\n    parts = [{ text: promptText }];\n  }\n  return {\n    contents: [{ role: \"user\", parts: parts }],\n    generationConfig: { temperature: 0.2, responseMimeType: \"application/json\" }\n  };\n}\n\nconst items = $input.all();\nconst out = [];\nfor (let idx = 0; idx < items.length; idx++) {\n  const item = items[idx];\n  const pre = item.json || {};\n\n  // Batch fan-out item from Unzip Batch node (BON-7)\n  if (pre.isBatchItem && pre.documentText) {\n    out.push({ json: {\n      correlationId: newCorrelationId(),\n      sourceFilename: pre.sourceFilename || \"batch-item.md\",\n      mimeType: \"text/plain\",\n      isPdf: false,\n      isBatchItem: true,\n      batchIndex: pre.batchIndex,\n      batchTotal: pre.batchTotal,\n      receivedAt: new Date().toISOString(),\n      geminiBody: buildGeminiBody(pre.documentText, false, null),\n    } });\n    continue;\n  }\n\n  const bin = item.binary || {};\n  const keys = Object.keys(bin);\n  if (keys.length === 0) {\n    throw new Error(\"No file was uploaded. Please attach a cyber incident log (.pdf, .md, .txt, or .zip).\");\n  }\n  const key = keys[0];\n  const meta = bin[key] || {};\n  const fileName = meta.fileName || \"incident-log\";\n  const mimeType = String(meta.mimeType || \"\").toLowerCase();\n  const ext = String(meta.fileExtension || (fileName.split(\".\").pop() || \"\")).toLowerCase();\n\n  if (ext === \"docx\") {\n    throw new Error(\n      \"DOCX is not supported on n8n Cloud (grading path). \"\n      + \"Use the self-hosted stack (docker compose + incoming_docs/) which extracts DOCX via python-docx.\"\n    );\n  }\n\n  // Extension is authoritative \u2014 avoids MIME/extension mismatch (e.g. .txt labeled application/pdf).\n  const isPdf = ext === \"pdf\";\n  const isZip = ext === \"zip\";\n  const isText = !!TEXT_EXTS[ext];\n\n  if (!isPdf && !isZip && !isText) {\n    throw new Error(\n      \"Unsupported file type\"\n      + (ext ? ` \".${ext}\"` : \"\")\n      + \". Allowed on Cloud: .pdf, .md, .txt, .markdown, .zip\"\n    );\n  }\n\n  let buf;\n  try {\n    buf = await this.helpers.getBinaryDataBuffer(idx, key);\n  } catch (e) {\n    buf = Buffer.from(meta.data || \"\", \"base64\");\n  }\n\n  if (!buf || buf.length === 0) {\n    throw new Error(\"Uploaded file is empty (0 bytes). Please attach a non-empty incident log.\");\n  }\n\n  if (isZip) {\n    const entries = unzipTextEntries(buf);\n    if (!entries.length) throw new Error(\"ZIP contained no supported .md/.txt files\");\n    for (let i = 0; i < entries.length; i++) {\n      out.push({ json: {\n        correlationId: newCorrelationId(),\n        sourceFilename: entries[i].filename,\n        mimeType: \"text/plain\",\n        isPdf: false,\n        isBatchItem: true,\n        batchIndex: i,\n        batchTotal: entries.length,\n        receivedAt: new Date().toISOString(),\n        geminiBody: buildGeminiBody(entries[i].text, false, null),\n      } });\n    }\n    continue;\n  }\n\n  let geminiBody;\n  if (isPdf) {\n    geminiBody = buildGeminiBody(\"\", true, buf.toString(\"base64\"));\n  } else if (isText) {\n    geminiBody = buildGeminiBody(buf.toString(\"utf-8\"), false, null);\n  } else {\n    throw new Error(\"Unsupported file type \u2014 expected .pdf, .md, .txt, .markdown, or .zip\");\n  }\n\n  out.push({ json: {\n    correlationId: newCorrelationId(),\n    sourceFilename: fileName,\n    mimeType: mimeType,\n    isPdf: isPdf,\n    receivedAt: new Date().toISOString(),\n    geminiBody: geminiBody,\n  } });\n}\nreturn out;\n"
      },
      "id": "17ee3da8-a413-4165-9dfc-d4a65248ec52",
      "name": "Prepare Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        416
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3-flash-preview:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.geminiBody }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "802ac9a6-6f40-43ec-a041-c4cfcf9939ea",
      "name": "Gemini \u2014 Extract Incident",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        672,
        416
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "jsCode": "const FENCE = String.fromCharCode(96, 96, 96);\nconst REQUIRED = [\"summary\", \"sentiment\", \"action_items\", \"confidence_score\", \"entities\"];\nconst VALID_SENTIMENT = { positive: 1, neutral: 1, negative: 1 };\n\nfunction validateGeminiShape(g) {\n  const missing = [];\n  for (let i = 0; i < REQUIRED.length; i++) {\n    if (g[REQUIRED[i]] === undefined) missing.push(REQUIRED[i]);\n  }\n  if (!g.incident_type && !g.classification) missing.push(\"incident_type|classification\");\n  if (!Array.isArray(g.action_items)) missing.push(\"action_items(array)\");\n  if (!g.entities || typeof g.entities !== \"object\" || Array.isArray(g.entities)) {\n    missing.push(\"entities(object)\");\n  }\n  if (missing.length) {\n    throw new Error(\"Gemini JSON missing required fields: \" + missing.join(\", \"));\n  }\n  if (typeof g.confidence_score === \"number\" && (g.confidence_score < 0 || g.confidence_score > 1)) {\n    throw new Error(\"confidence_score must be between 0 and 1\");\n  }\n}\n\nfunction normalizeSentiment(raw) {\n  const s = String(raw || \"neutral\").toLowerCase();\n  return VALID_SENTIMENT[s] ? s : \"neutral\";\n}\n\nconst items = $input.all();\nconst prep = $(\"Prepare Document\").all();\nconst out = [];\nfor (let idx = 0; idx < items.length; idx++) {\n  const resp = items[idx].json || {};\n  let raw = \"\";\n  try {\n    raw = resp.candidates[0].content.parts[0].text || \"\";\n  } catch (e) {\n    raw = \"\";\n  }\n  raw = String(raw).trim();\n  // Strip only a WRAPPING ```json \u2026 ``` fence pair \u2014 never a global backtick\n  // delete (that would corrupt inner SIEM command blocks in string values).\n  if (raw.indexOf(FENCE) === 0) {\n    raw = raw.slice(FENCE.length);\n    if (raw.toLowerCase().indexOf(\"json\") === 0) { raw = raw.slice(4); }\n    const end = raw.lastIndexOf(FENCE);\n    if (end !== -1) { raw = raw.slice(0, end); }\n    raw = raw.trim();\n  }\n  let g;\n  try {\n    g = JSON.parse(raw);\n  } catch (e) {\n    throw new Error(\"Gemini did not return valid JSON. First 200 chars: \" + raw.slice(0, 200));\n  }\n  validateGeminiShape(g);\n  // Gemini may return the \u00a75.4 `classification` field instead of our `incident_type`.\n  // Map it so enrich.js routes/floors correctly instead of defaulting to \"other\".\n  if (!g.incident_type && g.classification) { g.incident_type = String(g.classification); }\n  g.sentiment = normalizeSentiment(g.sentiment);\n  const p = (prep[idx] && prep[idx].json) ? prep[idx].json : {};\n  g.correlation_id = p.correlationId || null;\n  g.source_filename = p.sourceFilename || null;\n  out.push({ json: g });\n}\nreturn out;\n"
      },
      "id": "99201af2-e899-421b-88d4-f25724a0d274",
      "name": "Parse Gemini JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        416
      ]
    },
    {
      "parameters": {
        "jsCode": "// HINDSIGHT enrichment - faithful port of the FastAPI /enrich brain.\n// Pure computation (no network). Mirrors services/enrichment-api in the repo.\nconst DEFAULTS = { team: \"SecOps\", tier: \"standard\", slo: 99.0, jurisdictions: [\"GLOBAL\"] };\nconst SERVICES = [\n  { name: \"siem\", aliases: [\"splunk\",\"elastic siem\",\"security monitoring\",\"log pipeline\",\"wazuh\",\"sentinel\",\"siem cluster\"], team: \"SecOps\", tier: \"high\", slo: 99.5, jurisdictions: [\"GLOBAL\"] },\n  { name: \"endpoint-security\", aliases: [\"edr\",\"antivirus\",\"av\",\"crowdstrike\",\"defender\",\"endpoint protection\",\"xdr\",\"hosts\"], team: \"SecOps\", tier: \"high\", slo: 99.5, jurisdictions: [\"GLOBAL\"] },\n  { name: \"vulnerability-scanner\", aliases: [\"nessus\",\"qualys\",\"vuln scanner\",\"tenable\",\"scanner\",\"trivy\",\"snyk\",\"openvas\"], team: \"SecOps\", tier: \"standard\", slo: 99.0, jurisdictions: [\"GLOBAL\"] },\n  { name: \"auth\", aliases: [\"identity\",\"login\",\"sso\",\"idp\",\"authentication\",\"session-service\",\"oauth\"], team: \"Identity-Sec\", tier: \"high\", slo: 99.5, jurisdictions: [\"GLOBAL\"] },\n  { name: \"network\", aliases: [\"firewall\",\"ids\",\"ips\",\"waf\",\"perimeter\",\"edge\",\"cdn\",\"ingress\"], team: \"NetSec\", tier: \"high\", slo: 99.5, jurisdictions: [\"GLOBAL\"] },\n  { name: \"email-gateway\", aliases: [\"mail relay\",\"smtp\",\"phishing filter\",\"mimecast\",\"email security\",\"proofpoint\"], team: \"SecOps\", tier: \"standard\", slo: 99.0, jurisdictions: [\"GLOBAL\"] },\n  { name: \"internal-tooling\", aliases: [\"jenkins\",\"ci\",\"grafana\",\"internal dashboard\",\"soar\",\"ticketing\"], team: \"SecOps\", tier: \"internal\", slo: 99.0, jurisdictions: [\"GLOBAL\"] }\n];\nconst TYPE_ROUTING = { \"security\":\"Security-IR\",\"data-incident\":\"Security-IR\",\"vulnerability-scan\":\"SecOps\",\"malware\":\"SecOps\",\"phishing\":\"SecOps\",\"intrusion\":\"Security-IR\",\"ddos\":\"NetSec\",\"outage\":\"SecOps\",\"degradation\":\"SecOps\",\"configuration\":\"SecOps\",\"other\":\"SecOps\" };\n// Cyber hybrid: types implying data exposure (-> confidential) / active compromise (-> severity floor).\nconst SECURITY_SENSITIVE_TYPES = { \"security\":1,\"data-incident\":1,\"intrusion\":1,\"malware\":1,\"phishing\":1 };\nconst SECURITY_FLOOR_TYPES = { \"security\":1,\"data-incident\":1,\"intrusion\":1,\"malware\":1 };\nconst REVIEW_THRESHOLD = 0.7;\nconst BUDGET_BREACH_FRACTION = 0.5;\n\nfunction norm(t) {\n  t = String(t || \"\").toLowerCase().trim();\n  t = t.replace(/[_\\-\\/]+/g, \" \");\n  t = t.replace(/[^a-z0-9 ]+/g, \"\");\n  t = t.replace(/\\s+/g, \" \");\n  return t.trim();\n}\nconst LOOKUP = {};\nfor (const e of SERVICES) {\n  const keys = [e.name].concat(e.aliases || []);\n  for (const k of keys) { LOOKUP[norm(k)] = e; }\n}\nfunction wordIn(needle, hay) {\n  if (!needle) return false;\n  const esc = needle.replace(/[.*+?^${}()|[\\]\\\\]/g, \"\\\\$&\");\n  return new RegExp(\"\\\\b\" + esc + \"\\\\b\").test(hay);\n}\nfunction resolveOne(name) {\n  if (!name) return null;\n  const key = norm(name);\n  if (LOOKUP[key]) return LOOKUP[key];\n  // Whole-word match only (parity with routing.py): 'av' must not match 'average'.\n  for (const ak of Object.keys(LOOKUP)) {\n    if (ak && (wordIn(ak, key) || wordIn(key, ak))) return LOOKUP[ak];\n  }\n  return null;\n}\nfunction resolveMany(names) {\n  const seen = {};\n  const order = [];\n  for (const n of (names || [])) {\n    const e = resolveOne(n);\n    if (e && !seen[e.name]) { seen[e.name] = e; order.push(e); }\n  }\n  return order;\n}\n\nconst TIER_SCORE = { critical: 4, high: 3, standard: 2, internal: 1 };\nconst SEV_RANK = { SEV4: 4, SEV3: 3, SEV2: 2, SEV1: 1 };\nconst HIGH_IMPACT = [\n  /\\bdata (loss|breach|leak)\\b/, /\\bbreach\\b/, /\\bpii\\b/, /\\bregulator(y)?\\b/, /\\bfine[sd]?\\b/,\n  /\\bfunds?\\b/, /\\bmonetary\\b/, /\\bdouble[- ]charg/, /\\brevenue\\b/, /\\bpayment[s]? (fail|down|unavailable)/,\n  /\\bcomplete (outage|down)/, /\\btotal outage\\b/, /\\ball (users|players|customers)\\b/\n];\nfunction impactHits(text) {\n  text = String(text || \"\").toLowerCase();\n  let n = 0;\n  for (const re of HIGH_IMPACT) { if (re.test(text)) n++; }\n  return n;\n}\n\nfunction round1(x) { return Math.round(x * 10) / 10; }\nfunction round3(x) { return Math.round(x * 1000) / 1000; }\n\nfunction cvssBand(cvss) {\n  if (cvss >= 9.0) return \"SEV1\";\n  if (cvss >= 7.0) return \"SEV2\";\n  if (cvss >= 4.0) return \"SEV3\";\n  return null;\n}\n\nfunction scoreSeverity(reported, incidentType, resolved, jurisdictions, ttr, summary, cvss) {\n  let score = 0;\n  const rationale = [];\n  if (resolved.length) {\n    let top = resolved[0];\n    for (const e of resolved) { if ((TIER_SCORE[e.tier]||1) > (TIER_SCORE[top.tier]||1)) top = e; }\n    const pts = TIER_SCORE[top.tier] || 1;\n    score += pts;\n    rationale.push(\"highest-tier service '\" + top.name + \"' is \" + top.tier + \" (+\" + pts + \")\");\n  } else {\n    rationale.push(\"no catalogued service matched (+0)\");\n  }\n  const realJx = (jurisdictions || []).filter(function (j) { return j && j.toUpperCase() !== \"GLOBAL\"; });\n  if (realJx.length >= 2) { score += 3; rationale.push(\"multi-jurisdiction impact (\" + realJx.join(\", \") + \") (+3)\"); }\n  else if (realJx.length === 1) { score += 1; rationale.push(\"single-jurisdiction impact (\" + realJx[0] + \") (+1)\"); }\n  const hits = impactHits(summary);\n  if (hits) { const pts = Math.min(hits * 2, 4); score += pts; rationale.push(\"high-impact language (\" + hits + \" signal/s) (+\" + pts + \")\"); }\n  const t = ttr || 0;\n  if (t >= 120) { score += 3; rationale.push(\"downtime \" + Math.round(t) + \" min >= 2h (+3)\"); }\n  else if (t >= 30) { score += 2; rationale.push(\"downtime \" + Math.round(t) + \" min >= 30m (+2)\"); }\n  else if (t > 0) { score += 1; rationale.push(\"downtime \" + Math.round(t) + \" min (+1)\"); }\n  if (SECURITY_FLOOR_TYPES[incidentType]) { score += 3; rationale.push(\"incident type '\" + incidentType + \"' carries regulatory weight (+3)\"); }\n\n  let cvssFloor = null;\n  if (cvss !== null && cvss !== undefined && Number(cvss) > 0) {\n    cvssFloor = cvssBand(Number(cvss));\n    const cvssPts = { SEV1: 5, SEV2: 3, SEV3: 1 }[cvssFloor] || 0;\n    if (cvssPts) { score += cvssPts; rationale.push(\"CVSS \" + Number(cvss).toFixed(1) + \" (\" + cvssFloor + \"-class) (+\" + cvssPts + \")\"); }\n    else { rationale.push(\"CVSS \" + Number(cvss).toFixed(1) + \" low (+0)\"); }\n  }\n\n  let computed;\n  if (score >= 9) computed = \"SEV1\";\n  else if (score >= 6) computed = \"SEV2\";\n  else if (score >= 3) computed = \"SEV3\";\n  else computed = \"SEV4\";\n\n  if (cvssFloor && SEV_RANK[cvssFloor] < SEV_RANK[computed]) {\n    computed = cvssFloor;\n    rationale.push(\"severity floored to \" + cvssFloor + \" by CVSS \" + Number(cvss).toFixed(1));\n  }\n\n  const delta = Math.abs(SEV_RANK[computed] - (SEV_RANK[reported] || 3));\n  const review = delta >= 1;\n  if (review) {\n    const dir = SEV_RANK[computed] < (SEV_RANK[reported] || 3) ? \"higher\" : \"lower\";\n    rationale.push(\"rubric (\" + computed + \") is \" + dir + \" than reported (\" + reported + \") -> review\");\n  }\n  return { computed: computed, score: score, rationale: rationale, review: review };\n}\n\nfunction classifySensitivity(incidentType, jurisdictions, entitiesBlob, summary, cvss, cveIds) {\n  const text = (String(summary || \"\") + \" \" + String(entitiesBlob || \"\")).toLowerCase();\n  const realJx = (jurisdictions || []).filter(function (j) { return j && j.toUpperCase() !== \"GLOBAL\"; });\n  const signals = [\n    [\"security-class incident (\" + incidentType + \")\", !!SECURITY_SENSITIVE_TYPES[incidentType]],\n    [\"PII / customer-data reference\", /\\b(pii|customer data|personal data)\\b/.test(text)],\n    [\"monetary / payment exposure\", /\\b(funds?|payments?|charges?|refunds?|monetary)\\b/.test(text)],\n    [\"regulatory exposure\", /\\b(regulator\\w*|ukgc|dge|fines?|fined)\\b/.test(text)],\n    [\"multi-jurisdiction\", realJx.length >= 2],\n    [\"high-severity CVE (CVSS >= 7.0)\", cvss !== null && cvss !== undefined && Number(cvss) >= 7.0],\n    [\"CVE identifiers cited\", Array.isArray(cveIds) && cveIds.length > 0],\n  ];\n  const triggered = [];\n  for (const s of signals) { if (s[1]) triggered.push(s[0]); }\n  if (triggered.length) return { sensitivity: \"confidential\", rationale: triggered };\n  const nonSensitive = !SECURITY_SENSITIVE_TYPES[incidentType];\n  const globalOnly = !realJx.length;\n  if (nonSensitive && globalOnly) {\n    return { sensitivity: \"public\", rationale: [\"non-sensitive incident, no confidential markers, GLOBAL-only scope\"] };\n  }\n  return { sensitivity: \"internal\", rationale: [\"operational incident, no confidential markers\"] };\n}\n\nfunction sloImpact(primary, ttr) {\n  if (!primary) return { primary_service: null, slo_target: null, monthly_budget_minutes: null, budget_burn_minutes: null, budget_burn_pct: null, budget_breach: false };\n  const minutesPerMonth = 30 * 24 * 60;\n  const budget = round1(minutesPerMonth * (1 - primary.slo / 100.0));\n  const burn = Number(ttr || 0);\n  const burnPct = budget > 0 ? round1((burn / budget) * 100) : null;\n  const breach = budget > 0 && burn >= budget * BUDGET_BREACH_FRACTION;\n  return { primary_service: primary.name, slo_target: primary.slo, monthly_budget_minutes: budget, budget_burn_minutes: round1(burn), budget_burn_pct: burnPct, budget_breach: breach };\n}\n\nconst STOP = { \"the\":1,\"a\":1,\"an\":1,\"of\":1,\"to\":1,\"in\":1,\"on\":1,\"and\":1,\"or\":1,\"for\":1,\"was\":1,\"were\":1,\"is\":1,\"due\":1,\"caused\":1,\"by\":1,\"this\":1,\"that\":1,\"with\":1,\"from\":1,\"after\":1,\"led\":1,\"which\":1,\"resulted\":1,\"incident\":1,\"issue\":1,\"error\":1,\"failure\":1 };\nfunction fingerprint(services, rootCause, incidentType) {\n  const tokens = String(rootCause || \"\").toLowerCase().replace(/[^a-z0-9 ]+/g, \" \").split(/\\s+/).filter(Boolean);\n  const uniq = {};\n  for (const t of tokens) { if (!STOP[t] && t.length > 2) uniq[t] = 1; }\n  const kw = Object.keys(uniq).sort().slice(0, 6);\n  const basis = [incidentType].concat(services.slice().sort()).concat(kw).join(\"|\");\n  const crypto = require(\"crypto\");\n  return crypto.createHash(\"sha1\").update(basis, \"utf8\").digest(\"hex\").slice(0, 12);\n}\n\nfunction adjustConfidence(g) {\n  let conf = Number(g.confidence_score || 0);\n  const notes = [];\n  let penalty = 0;\n  if (!String(g.root_cause || \"\").trim()) { penalty += 0.20; notes.push(\"missing root cause (-0.20)\"); }\n  if (!(g.action_items && g.action_items.length)) { penalty += 0.10; notes.push(\"no action items extracted (-0.10)\"); }\n  if (!(g.affected_services && g.affected_services.length)) { penalty += 0.10; notes.push(\"no affected services identified (-0.10)\"); }\n  const m = g.metrics || {};\n  const metricsPresent = !!(m.detected_at || m.resolved_at || (m.ttd_minutes !== null && m.ttd_minutes !== undefined) || (m.ttr_minutes !== null && m.ttr_minutes !== undefined));\n  if (!metricsPresent) { penalty += 0.05; notes.push(\"no timing metrics (-0.05)\"); }\n  let adjusted = Math.max(0, Math.min(1, conf - penalty));\n  if (adjusted < REVIEW_THRESHOLD) notes.push(\"below review threshold \" + REVIEW_THRESHOLD);\n  return { adjusted: round3(adjusted), delta: round3(adjusted - conf), notes: notes, present: metricsPresent };\n}\n\nfunction uuid() {\n  if (globalThis.crypto && typeof globalThis.crypto.randomUUID === \"function\") return globalThis.crypto.randomUUID();\n  return \"doc-\" + Date.now() + \"-\" + Math.floor(Math.random() * 1e6);\n}\n\nconst items = $input.all();\nconst out = [];\nfor (let idx = 0; idx < items.length; idx++) {\n  const g = items[idx].json || {};\n  const ent = g.entities || {};\n  const resolved = resolveMany(g.affected_services || []);\n  const resolvedNames = resolved.map(function (e) { return e.name; });\n  let teams = Array.from(new Set(resolved.map(function (e) { return e.team; }))).sort();\n  if (!teams.length) teams = [TYPE_ROUTING[g.incident_type] || DEFAULTS.team];\n  const department = teams[0];\n\n  const jxSet = {};\n  for (const j of (g.affected_jurisdictions || [])) { if (j) jxSet[String(j).toUpperCase()] = 1; }\n  for (const e of resolved) { for (const j of e.jurisdictions) { jxSet[j] = 1; } }\n  let jxKeys = Object.keys(jxSet);\n  if (jxKeys.length > 1 && jxSet[\"GLOBAL\"]) { delete jxSet[\"GLOBAL\"]; jxKeys = Object.keys(jxSet); }\n  const jurisdictions = jxKeys.sort();\n\n  const m = g.metrics || {};\n  const ttr = Number(m.ttr_minutes || 0);\n  let cvss = (g.cvss_score === null || g.cvss_score === undefined) ? null : Number(g.cvss_score);\n  cvss = (cvss === null || !isFinite(cvss)) ? null : Math.max(0, Math.min(10, cvss));  // non-numeric -> null (parity with Pydantic rejecting bad floats)\n  const cveIds = Array.isArray(g.cve_ids) ? g.cve_ids : [];\n  const verdict = scoreSeverity(g.severity || \"SEV3\", g.incident_type || \"other\", resolved, jurisdictions, ttr, g.summary || \"\", cvss);\n\n  const entitiesBlob = []\n    .concat(ent.people || [], ent.teams || [], ent.systems || [], ent.error_codes || [])\n    .join(\" \");\n  const sens = classifySensitivity(g.incident_type || \"other\", jurisdictions, entitiesBlob, g.summary || \"\", cvss, cveIds);\n\n  let primary = null;\n  if (resolved.length) {\n    primary = resolved[0];\n    for (const e of resolved) { if ((TIER_SCORE[e.tier]||1) > (TIER_SCORE[primary.tier]||1)) primary = e; }\n  }\n  const slo = sloImpact(primary, ttr);\n\n  const fp = fingerprint((resolvedNames.length ? resolvedNames : (g.affected_services || [])), g.root_cause || \"\", g.incident_type || \"other\");\n  const conf = adjustConfidence(g);\n\n  const actions = g.action_items || [];\n  const totalActions = actions.length;\n  const noOwner = actions.filter(function (a) { return !(a && a.owner && String(a.owner).trim()); }).length;\n  const openP0 = actions.filter(function (a) { return a && String(a.priority || \"\").toUpperCase() === \"P0\"; }).length;\n\n  const tags = [\"auto-filed\"];\n  if (verdict.computed === \"SEV1\" || verdict.computed === \"SEV2\") tags.push(\"exec-escalation\");\n  if (verdict.computed === \"SEV1\") tags.push(\"page-oncall\");\n  if (jurisdictions.length >= 2) tags.push(\"regulatory-review\");\n  if (verdict.review) tags.push(\"severity-review\");\n  if (conf.adjusted < REVIEW_THRESHOLD) tags.push(\"needs-review\");\n  if (noOwner > 0) tags.push(\"unowned-actions\");\n  if (slo.budget_breach) tags.push(\"budget-breach\");\n  if (g.blameless_quality === \"poor\") tags.push(\"blameless-coaching\");\n  // NOTE (intentional parity gap): the Python brain also emits \"repeat-offender\"\n  // + recurrence_seen_count from a process-local counter. n8n Code nodes are\n  // stateless per execution, so recurrence is tracked in the Sheets registry,\n  // not here. See docs/edge-case-matrix.md.\n  const tagsUniq = Array.from(new Set(tags));\n\n  let routingTag;\n  if (verdict.computed === \"SEV1\" || (cvss !== null && cvss >= 9.0)) routingTag = \"escalate\";\n  else if (tagsUniq.indexOf(\"needs-review\") !== -1 || tagsUniq.indexOf(\"severity-review\") !== -1) routingTag = \"needs-review\";\n  else routingTag = \"auto-approved\";\n\n  out.push({ json: {\n    document_id: uuid(),\n    processed_at: new Date().toISOString(),\n    correlation_id: g.correlation_id || uuid(),\n    source_filename: g.source_filename || null,\n    incident_title: g.incident_title || \"Untitled incident\",\n    incident_type: g.incident_type || \"other\",\n    status: g.status || \"resolved\",\n    reported_severity: g.severity || \"SEV3\",\n    computed_severity: verdict.computed,\n    severity_score: verdict.score,\n    severity_rationale: verdict.rationale,\n    severity_review_needed: verdict.review,\n    department: department,\n    routed_teams: teams,\n    affected_services_resolved: resolvedNames,\n    affected_jurisdictions: jurisdictions,\n    sensitivity: sens.sensitivity,\n    sensitivity_rationale: sens.rationale,\n    slo_impact: slo,\n    recurrence_fingerprint: fp,\n    cvss_score: cvss,\n    cve_ids: cveIds,\n    routing_tags: tagsUniq,\n    routing_tag: routingTag,\n    action_item_total: totalActions,\n    action_items_without_owner: noOwner,\n    open_p0_actions: openP0,\n    confidence_score: conf.adjusted,\n    confidence_delta: conf.delta,\n    confidence_notes: conf.notes,\n    ttr_minutes: ttr\n  } });\n}\nreturn out;\n"
      },
      "id": "ed09f3c0-5d16-45d4-8ce2-dfaa3c5fd978",
      "name": "HINDSIGHT Enrich",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        416
      ]
    },
    {
      "parameters": {
        "jsCode": "function esc(s) {\n\n  return String(s == null ? \"\" : s)\n\n    .replace(/&/g, \"&amp;\").replace(/</g, \"&lt;\").replace(/>/g, \"&gt;\").replace(/\"/g, \"&quot;\");\n\n}\n\nfunction joinList(a) { return (a && a.length) ? a.join(\", \") : \"\"; }\n\nfunction fileType(name) {\n\n  const m = String(name || \"\").match(/\\.([^.]+)$/);\n\n  return m ? m[1].toLowerCase() : \"txt\";\n\n}\n\nfunction actionsHtml(actions) {\n\n  if (!actions || !actions.length) {\n\n    return \"<p style=\\\"margin:0;color:#64748b;font-size:14px;\\\">No follow-up actions identified.</p>\";\n\n  }\n\n  let html = \"<ul style=\\\"margin:8px 0 0;padding-left:20px;\\\">\";\n\n  for (let i = 0; i < actions.length; i++) {\n\n    const a = actions[i] || {};\n\n    const owner = (a.owner && String(a.owner).trim()) ? esc(String(a.owner)) : \"Unassigned\";\n\n    const prio = a.priority ? esc(String(a.priority)) : \"\u2014\";\n\n    html += \"<li style=\\\"margin:6px 0;font-size:14px;line-height:1.5;\\\">\"\n\n      + \"<strong>\" + prio + \"</strong> \u00b7 \" + esc(String(a.action || \"\"))\n\n      + \" <span style=\\\"color:#64748b;\\\">(\" + owner + \")</span></li>\";\n\n  }\n\n  return html + \"</ul>\";\n\n}\n\nfunction actionsCsv(actions) {\n\n  if (!actions || !actions.length) return \"\";\n\n  return actions.map(function (a) {\n\n    const owner = (a && a.owner && String(a.owner).trim()) ? String(a.owner) : \"UNOWNED\";\n\n    const prio = (a && a.priority) ? String(a.priority) : \"-\";\n\n    return prio + \": \" + String(a.action || \"\") + \" (\" + owner + \")\";\n\n  }).join(\"; \");\n\n}\n\nfunction trunc(s, n) {\n\n  const t = String(s || \"\");\n\n  return t.length <= n ? t : t.slice(0, n - 1) + \"\u2026\";\n\n}\n\n\n\nconst SEV_COLOR = { SEV1: \"#FF4D5E\", SEV2: \"#FF9F43\", SEV3: \"#FFD23F\", SEV4: \"#4DD0A7\" };\n\n\n\nconst SHEET_ID = \"1Z7tiPISHB5siYby_lQnWA9wtXbDXVSGTu4HGZ5Dk2tk\";\n\nconst SHEET_URL = \"https://docs.google.com/spreadsheets/d/\" + SHEET_ID + \"/edit\";\n\nconst FORM_URL = \"https://reemmor.app.n8n.cloud/form/21593841-f8b8-43a2-88a8-8595ad3e2f39\";\n\n\n\nfunction emailShell(opts) {\n\n  const accent = opts.accent || \"#4DD0A7\";\n\n  const bannerHtml = opts.banner || \"\";\n\n  const title = esc(opts.title || \"Incident processed\");\n\n  const subtitle = esc(opts.subtitle || \"HINDSIGHT \u00b7 Cyber incident intelligence\");\n\n  const bodyHtml = opts.body || \"\";\n\n  const footer = esc(opts.footer || \"Automated by HINDSIGHT \u00b7 n8n + Gemini 3 Flash\");\n\n  return \"\"\n\n    + \"<!DOCTYPE html><html lang=\\\"en\\\"><head><meta charset=\\\"utf-8\\\">\"\n\n    + \"<meta name=\\\"viewport\\\" content=\\\"width=device-width,initial-scale=1\\\">\"\n\n    + \"<title>\" + title + \"</title></head>\"\n\n    + \"<body style=\\\"margin:0;padding:0;background:#f1f5f9;font-family:Inter,Arial,sans-serif;color:#0f172a;\\\">\"\n\n    + \"<table role=\\\"presentation\\\" width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" style=\\\"background:#f1f5f9;padding:24px 12px;\\\">\"\n\n    + \"<tr><td align=\\\"center\\\">\"\n\n    + \"<table role=\\\"presentation\\\" width=\\\"600\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" style=\\\"max-width:600px;width:100%;background:#ffffff;border:1px solid #e2e8f0;border-radius:12px;overflow:hidden;\\\">\"\n\n    + bannerHtml\n\n    + \"<tr><td style=\\\"padding:22px 24px 8px;\\\">\"\n\n    + \"<p style=\\\"margin:0;font-size:11px;letter-spacing:.12em;text-transform:uppercase;color:#64748b;\\\">\" + subtitle + \"</p>\"\n\n    + \"<h1 style=\\\"margin:8px 0 0;font-size:22px;font-weight:700;line-height:1.3;\\\">\" + title + \"</h1>\"\n\n    + \"</td></tr>\"\n\n    + \"<tr><td style=\\\"padding:8px 24px 20px;\\\">\" + bodyHtml + \"</td></tr>\"\n\n    + \"<tr><td style=\\\"padding:14px 24px;background:#f8fafc;border-top:1px solid #e2e8f0;font-size:11px;color:#64748b;line-height:1.5;\\\">\"\n\n    + footer + \"<br>\"\n\n    + \"<a href=\\\"\" + FORM_URL + \"\\\" style=\\\"color:\" + accent + \";\\\">Submit another document</a> \u00b7 \"\n\n    + \"<a href=\\\"\" + SHEET_URL + \"\\\" style=\\\"color:\" + accent + \";\\\">Open registry</a>\"\n\n    + \"</td></tr></table></td></tr></table></body></html>\";\n\n}\n\n\n\nfunction metaTable(rows) {\n\n  let html = \"<table role=\\\"presentation\\\" width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" style=\\\"border-collapse:collapse;font-size:14px;\\\">\";\n\n  for (let i = 0; i < rows.length; i++) {\n\n    html += \"<tr>\"\n\n      + \"<td style=\\\"padding:8px 0;width:38%;color:#64748b;vertical-align:top;\\\">\" + esc(rows[i][0]) + \"</td>\"\n\n      + \"<td style=\\\"padding:8px 0;font-weight:500;vertical-align:top;\\\">\" + rows[i][1] + \"</td></tr>\";\n\n    if (i < rows.length - 1) {\n\n      html += \"<tr><td colspan=\\\"2\\\" style=\\\"border-bottom:1px solid #e2e8f0;\\\"></td></tr>\";\n\n    }\n\n  }\n\n  return html + \"</table>\";\n\n}\n\n\n\nfunction buildIncidentEmail(ctx) {\n\n  const sevBadge = \"<span style=\\\"display:inline-block;padding:2px 8px;border-radius:6px;background:\"\n\n    + ctx.color + \"22;color:\" + ctx.color + \";font-weight:700;font-size:12px;\\\">\"\n\n    + esc(ctx.sev) + \"</span>\";\n\n  const sheetRow = ctx.documentId\n\n    ? \"document_id: <code style=\\\"background:#f1f5f9;padding:2px 6px;border-radius:4px;font-size:12px;\\\">\"\n\n      + esc(ctx.documentId) + \"</code>\"\n\n    : \"see Incidents tab\";\n\n  const body = \"\"\n\n    + metaTable([\n\n      [\"Document\", esc(ctx.filename)],\n\n      [\"Classification\", esc(ctx.classification)],\n\n      [\"Severity\", sevBadge],\n\n      [\"Department\", esc(ctx.department)],\n\n      [\"Sensitivity\", esc(ctx.sensitivity)],\n\n      [\"Routing\", esc(ctx.routingTag)],\n\n      [\"Sentiment\", esc(ctx.sentiment)],\n\n      [\"CVSS\", ctx.cvss != null ? esc(String(ctx.cvss)) : \"n/a\"],\n\n      [\"CVE IDs\", esc(ctx.cveIds || \"n/a\")],\n\n      [\"Registry row\", sheetRow],\n\n    ])\n\n    + \"<h2 style=\\\"margin:22px 0 8px;font-size:15px;font-weight:700;\\\">Executive summary</h2>\"\n\n    + \"<p style=\\\"margin:0;font-size:14px;line-height:1.6;color:#334155;\\\">\" + esc(ctx.summary) + \"</p>\"\n\n    + \"<h2 style=\\\"margin:22px 0 8px;font-size:15px;font-weight:700;\\\">Recommended actions</h2>\"\n\n    + actionsHtml(ctx.actions)\n\n    + \"<p style=\\\"margin:20px 0 0;font-size:13px;\\\">\"\n\n    + \"<a href=\\\"\" + SHEET_URL + \"\\\" style=\\\"color:#4DD0A7;font-weight:600;\\\">Open Incidents registry</a>\"\n\n    + \"</p>\";\n\n  return emailShell({\n\n    accent: ctx.color,\n\n    title: ctx.sev + \" \u00b7 \" + ctx.classification.replace(/-/g, \" \"),\n\n    subtitle: \"Document processed \u00b7 \" + esc(ctx.filename),\n\n    body: body,\n\n  });\n\n}\n\n\n\nfunction buildAlertEmail(ctx) {\n\n  const banner = \"\"\n\n    + \"<tr><td style=\\\"background:\" + ctx.color + \";color:#1a0408;padding:12px 24px;font-weight:800;font-size:13px;letter-spacing:.04em;\\\">\"\n\n    + \"&#128680; HIGH PRIORITY ALERT \u00b7 \" + esc(ctx.sensitivity.toUpperCase()) + \" \u00b7 \" + esc(ctx.routingTag.toUpperCase())\n\n    + \"</td></tr>\";\n\n  const inner = buildIncidentEmail(ctx);\n\n  return inner.replace(\"<table role=\\\"presentation\\\" width=\\\"600\\\"\", banner + \"<table role=\\\"presentation\\\" width=\\\"600\\\"\");\n\n}\n\n\n\nconst enriched = $input.all();\n\nconst parsed = $(\"Parse Gemini JSON\").all();\n\nconst out = [];\n\n\n\nfor (let idx = 0; idx < enriched.length; idx++) {\n\n  const e = enriched[idx].json || {};\n\n  const g = (parsed[idx] && parsed[idx].json) ? parsed[idx].json : {};\n\n  const actions = g.action_items || [];\n\n  const classification = String(e.incident_type || g.incident_type || \"other\");\n\n  const filename = String(e.source_filename || g.filename || \"unknown\");\n\n  const sentiment = String(g.sentiment || \"neutral\");\n\n  const routingTag = String(e.routing_tag || \"auto-approved\");\n\n  const sensitivity = String(e.sensitivity || \"internal\");\n\n  const department = String(e.department || \"SecOps\");\n\n  const summary = trunc(g.summary || e.incident_title || \"\", 500);\n\n  const sev = e.computed_severity || \"SEV3\";\n\n  const color = SEV_COLOR[sev] || \"#FF9F43\";\n\n  const actionItems = actionsCsv(actions);\n\n  const cvss = e.cvss_score != null ? e.cvss_score : (g.cvss_score != null ? g.cvss_score : null);\n\n  const cveIds = joinList(e.cve_ids || g.cve_ids || []);\n\n  const documentId = String(e.document_id || \"\");\n\n\n\n  const ctx = {\n\n    filename: filename,\n\n    classification: classification,\n\n    sev: sev,\n\n    color: color,\n\n    department: department,\n\n    sensitivity: sensitivity,\n\n    routingTag: routingTag,\n\n    sentiment: sentiment,\n\n    cvss: cvss,\n\n    cveIds: cveIds,\n\n    documentId: documentId,\n\n    summary: summary,\n\n    actions: actions,\n\n  };\n\n\n\n  const emailHtmlDigest = buildIncidentEmail(ctx);\n\n  const emailHtmlSev1 = buildAlertEmail(ctx);\n\n\n\n  const subjDigest = \"[\" + classification + \"] New document processed: \" + filename;\n\n  const subjSev1 = \"[HINDSIGHT ALERT] \" + sev + \" \u00b7 \" + sensitivity.toUpperCase() + \" \u2014 \" + filename;\n\n\n\n  const md = \"\"\n\n    + \"# \" + sev + \" \u2014 \" + String(e.incident_title || classification) + \"\\n\\n\"\n\n    + \"| Field | Value |\\n|---|---|\\n\"\n\n    + \"| Classification | \" + classification + \" |\\n\"\n\n    + \"| Department | \" + department + \" |\\n\"\n\n    + \"| Sensitivity | \" + sensitivity + \" |\\n\"\n\n    + \"| Routing tag | \" + routingTag + \" |\\n\"\n\n    + \"| CVSS | \" + (cvss != null ? String(cvss) : \"n/a\") + \" |\\n\"\n\n    + \"| CVEs | \" + (cveIds || \"n/a\") + \" |\\n\\n\"\n\n    + \"## Summary\\n\" + summary + \"\\n\\n\"\n\n    + \"## Action items\\n\" + (actionItems || \"(none)\") + \"\\n\";\n\n\n\n  out.push({ json: {\n\n    document_id: e.document_id,\n\n    filename: filename,\n\n    file_type: fileType(filename),\n\n    processed_at: e.processed_at,\n\n    classification: classification,\n\n    department: department,\n\n    sentiment: sentiment,\n\n    confidence_score: e.confidence_score,\n\n    summary: summary,\n\n    routing_tag: routingTag,\n\n    sensitivity: sensitivity,\n\n    action_items: actionItems,\n\n    cvss_score: cvss,\n\n    cve_ids: cveIds,\n\n    computed_severity: sev,\n\n    incident_title: e.incident_title,\n\n    postmortem_markdown: md,\n\n    emailSubjectSev1: subjSev1,\n\n    emailHtmlSev1: emailHtmlSev1,\n\n    emailSubjectDigest: subjDigest,\n\n    emailHtmlDigest: emailHtmlDigest,\n\n  } });\n\n}\n\nreturn out;\n\n"
      },
      "id": "b9d5455f-fdb5-48a2-bd2d-0e2b8bb0a7af",
      "name": "Compose Outputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        416
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1Z7tiPISHB5siYby_lQnWA9wtXbDXVSGTu4HGZ5Dk2tk",
          "cachedResultName": "HINDSIGHT Incident Registry"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Incidents",
          "cachedResultName": "Incidents"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "document_id",
              "displayName": "document_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "filename",
              "displayName": "filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "file_type",
              "displayName": "file_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "classification",
              "displayName": "classification",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "department",
              "displayName": "department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sentiment",
              "displayName": "sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "confidence_score",
              "displayName": "confidence_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "routing_tag",
              "displayName": "routing_tag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sensitivity",
              "displayName": "sensitivity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "action_items",
              "displayName": "action_items",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cvss_score",
              "displayName": "cvss_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cve_ids",
              "displayName": "cve_ids",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "handlingExtraData": "ignoreIt",
          "useAppend": true
        }
      },
      "id": "b5950c2c-a1a8-46a0-8c1e-409b291085c5",
      "name": "Append to Registry",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1712,
        192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "or",
          "conditions": [
            {
              "leftValue": "={{ $json.computed_severity }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "SEV1"
            },
            {
              "leftValue": "={{ $json.sensitivity }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "confidential"
            },
            {
              "leftValue": "={{ $json.routing_tag }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "escalate"
            }
          ]
        },
        "options": {}
      },
      "id": "6271401c-08cd-4cf7-8c3c-da8824a9659b",
      "name": "Is SEV1?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1568,
        480
      ]
    },
    {
      "parameters": {
        "sendTo": "reem.mor3@gmail.com",
        "subject": "={{ $json.emailSubjectSev1 }}",
        "message": "={{ $json.emailHtmlSev1 }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "89aeb04f-b04a-4a6b-bd42-5558e56b486e",
      "name": "Page On-Call (SEV1)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1792,
        416
      ],
      "webhookId": "ac65e73d-8b42-4c62-a514-943900e75fab"
    },
    {
      "parameters": {
        "sendTo": "reem.mor3@gmail.com",
        "subject": "={{ $json.emailSubjectDigest }}",
        "message": "={{ $json.emailHtmlDigest }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "a1ba26de-96be-46f3-b97b-844afbb44321",
      "name": "Postmortem Filed",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1792,
        608
      ],
      "webhookId": "9fe6bd25-11b5-4052-b2cd-f16094cc7dc7"
    },
    {
      "parameters": {
        "jsCode": "// Strip Compose output to assignment \u00a77.2 columns only (Sheets auto-map).\nconst KEYS = [\n  \"document_id\", \"filename\", \"file_type\", \"processed_at\", \"classification\",\n  \"department\", \"sentiment\", \"confidence_score\", \"summary\", \"routing_tag\",\n  \"sensitivity\", \"action_items\", \"cvss_score\", \"cve_ids\",\n];\nconst items = $input.all();\nconst out = [];\nfor (let i = 0; i < items.length; i++) {\n  const j = items[i].json || {};\n  const row = {};\n  for (let k = 0; k < KEYS.length; k++) {\n    const v = j[KEYS[k]];\n    // Always emit all 14 columns; coerce missing/null to \"\" so Sheets auto-map\n    // can't silently drop or shift a column.\n    row[KEYS[k]] = (v === undefined || v === null) ? \"\" : v;\n  }\n  out.push({ json: row });\n}\nreturn out;\n"
      },
      "id": "59e8ad0e-70b6-486d-a7ac-097fa1a42fea",
      "name": "Flatten for Sheets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        224
      ]
    },
    {
      "parameters": {
        "content": "## HINDSIGHT \u2014 Cyber Incident Intelligence (Cloud)\n\nUpload a SIEM export / vuln scan / phishing report \u2192 **Gemini 3 Flash** extracts strict JSON \u2192 the deterministic brain re-scores severity \u2192 filed to **Google Sheets** + **Gmail**.\n\n**Setup:** open *Append to Registry* \u2192 pick your Sheet (tab `Incidents`). Gemini / Sheets / Gmail credentials are already bound.",
        "height": 250,
        "width": 700,
        "color": 4
      },
      "id": "08ca2042-8805-40d3-a7e3-80d5bb100ce7",
      "name": "Sticky Note 4cae76",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        140,
        -120
      ]
    },
    {
      "parameters": {
        "content": "### 1 \u00b7 Intake + Vision\n\nForm upload. Guards reject empty / wrong-MIME files and fan out ZIPs.\n\nPDFs are sent as `inline_data` so Gemini Vision reads embedded charts **(BON-1)**.",
        "height": 240,
        "width": 460,
        "color": 5
      },
      "id": "e74d1dc9-f732-484b-8122-30e0e03c5978",
      "name": "Sticky Note 156b40",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        280,
        680
      ]
    },
    {
      "parameters": {
        "content": "### 2 \u00b7 Gemini 3 Flash\n\nStrict JSON, temperature 0.2. Key via n8n credential \u2014 never hardcoded.\n\nRetries **5\u00d7 / 3s** on 429 rate-limit errors **(BON-4)**.",
        "height": 230,
        "width": 460,
        "color": 6
      },
      "id": "46cba404-5d15-4187-a155-ac38971cfe3c",
      "name": "Sticky Note 13b476",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        580,
        130
      ]
    },
    {
      "parameters": {
        "content": "### 3 \u00b7 Deterministic brain\n\nThe LLM extracts; the **service decides**. CVSS 9.8 floors to SEV1 + `escalate` even if the author typed SEV3.\n\nAdds sensitivity, routing tag, SLO burn. Mirrors FastAPI `/enrich`.",
        "height": 250,
        "width": 480,
        "color": 3
      },
      "id": "d42069ae-fd29-4c81-ab2c-684d4450d80b",
      "name": "Sticky Note 981dd2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        980,
        680
      ]
    },
    {
      "parameters": {
        "content": "### 4 \u00b7 Google Sheets registry\n\n*Flatten for Sheets* trims to exactly **14 columns**, then appends one row per document to the `Incidents` tab \u2014 the source of truth + dashboard feed **(BON-3)**.",
        "height": 230,
        "width": 470,
        "color": 4
      },
      "id": "eb465b20-2713-4a30-be74-66390acf1cf3",
      "name": "Sticky Note 664a53",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1540,
        -120
      ]
    },
    {
      "parameters": {
        "content": "### 5 \u00b7 Gmail routing\n\n**Is SEV1?** \u2192 SEV1 / confidential / escalate fire a high-priority **Page On-Call (BON-8)**.\n\nEverything else files a *Postmortem Filed* notice. A separate scheduled workflow sends the 24h digest **(BON-2)**.",
        "height": 250,
        "width": 500,
        "color": 7
      },
      "id": "4296d80e-9960-49d8-9ec1-9fb37e5ba55d",
      "name": "Sticky Note cf1d1b",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1640,
        740
      ]
    }
  ],
  "connections": {
    "Submit a Postmortem": {
      "main": [
        [
          {
            "node": "Prepare Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Document": {
      "main": [
        [
          {
            "node": "Gemini \u2014 Extract Incident",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini \u2014 Extract Incident": {
      "main": [
        [
          {
            "node": "Parse Gemini JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Gemini JSON": {
      "main": [
        [
          {
            "node": "HINDSIGHT Enrich",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HINDSIGHT Enrich": {
      "main": [
        [
          {
            "node": "Compose Outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compose Outputs": {
      "main": [
        [
          {
            "node": "Flatten for Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is SEV1?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is SEV1?": {
      "main": [
        [
          {
            "node": "Page On-Call (SEV1)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postmortem Filed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten for Sheets": {
      "main": [
        [
          {
            "node": "Append to Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "binaryMode": "separate"
  }
}